{% extends 'labtechnician_template/base_template.html' %}

{% block title %}
Order  
{% endblock title %}

{% block breadcrumb %}
{% include "labtechnician_template/modal_form.html" %}
Order 
{% endblock breadcrumb %}

{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h6 class="header-title text-center mt-0 mb-1 text-uppercase">Order Details</h6>
                    <p class="text-muted font-13 text-center mb-4"></p>
                    <div class="table-responsive">
                        <!-- Display LaboratoryOrder Information -->
                        <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="labOrderTable">
                            <thead>
                                <tr>
                                    <th>Laboratory Number</th>
                                    <th>Patient</th>                                    
                                    <th>Service</th>
                                    <th>Description</th>
                                    <th>Order Date</th>                                
                                    <th>Cost</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in lab_orders %}
                                <tr>
                                    <td>{{ order.lab_number }}</td>
                                    <td>{{ order.patient }}</td>                                    
                                    <td>{{ order.name }}</td>
                                    <td>{{ order.description }}</td>
                                    <td>{{ order.order_date }}</td>                                    
                                    <td>{{ order.cost }}</td>
                                    <td>
                                        <a href="{% url 'lab_edit_lab_result' order.patient.id order.visit.id order.id %}" class="btn btn-info">View result</a>
                                    </a>  
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>


{% include 'labtechnician_template/datatable.html' %}
{% endblock main_content %}

