{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
      <img src="{% static 'dist/img/resalogo.png' %}" alt="resa Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Resa Clinic </span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar"> 
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <!-- Add a link to update the profile picture -->
            <a href="{% url 'lab_update_profile_picture' %}">
                {% if request.user.staff.profile_picture %}
                    <img src="{{ request.user.staff.profile_picture.url }}" class="img-circle elevation-2" alt="User Image">
                {% else %}
                    <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
                {% endif %}       
            </a>
        </div>
        <div class="info">
            {% url 'lab_employee_detail' as employee_detail_url %}
            <a href="{{ employee_detail_url }}" class="d-block">{{user.username}}</a>
        </div>
      </div> 

      <!-- Sidebar Menu -->
      <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- Home Section -->
              <li class="nav-item">
                  {% url 'labtechnician_dashboard' as admin_home_url %}
                  <a href="{{ admin_home_url }}" class="nav-link {% if request.path == admin_home_url %} active {% endif %}">
                      <i class="nav-icon fas fa-th"></i>
                      <p>HOME</p>
                  </a>
              </li> 

              <!-- Clinic Section -->
              <li class="nav-item has-treeview">
                  <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-hospital"></i>
                      <p>Lab Technician <i class="fas fa-angle-left right"></i></p>
                  </a>
                  <ul class="nav nav-treeview">
                  
                      <li class="nav-item">
                        {% url 'lab_prescription_list' as prescription_list_url %}
                        <a href="{{ prescription_list_url }}" class="nav-link{% if request.path == prescription_list_url %} active {% endif %}">
                            <i class="nav-icon fas fa-prescription-bottle"></i>
                            <p>Prescriptions</p>
                        </a>
                    </li>
                           <!-- Other Clinic Links -->
                           <li class="nav-item">
                            {% url 'lab_manage_patient' as lab_manage_patient_url %}
                              <a href="{{ lab_manage_patient_url }}" class="nav-link{% if request.path == lab_manage_patient_url %} active {% endif %}">
                                  <i class="nav-icon fas fa-users"></i>
                                  <p>Patients</p>
                              </a>
                          </li>
                             
                    {% url 'lab_new_consultation_order' as lab_new_consultation_order_url %}
                    <li class="nav-item" id="unreadAppointmentsLink">
                        <a href="{{ lab_new_consultation_order_url }}" class="nav-link {% if request.path == lab_new_consultation_order_url %} active {% endif %}">
                            <i class="nav-icon fas fa-envelope"></i> <!-- Change to the correct icon -->
                            <p>Consultation Order </p>
                        </a>
                    </li>
                    <li class="nav-item" id="unreadAppointmentsLink">
                        {% url 'lab_new_radiology_order' as lab_new_radiology_order_url %}
                        <a href="{{ lab_new_radiology_order_url }}" class="nav-link {% if request.path == lab_new_radiology_order_url %} active {% endif %}">
                            <i class="nav-icon fas fa-bell"></i>
                            <p>Imaging  orders </p>
                        </a>
                    </li>
                    <li class="nav-item" id="unreadAppointmentsLink">
                        {% url 'lab_new_procedure_order' as lab_new_procedure_order_url %}
                        <a href="{{ lab_new_procedure_order_url }}" class="nav-link {% if request.path == lab_new_procedure_order_url %} active {% endif %}">
                            <i class="nav-icon fas fa-bell"></i>
                            <p>Procedure  orders </p>
                        </a>
                    </li>               
                
                      <li class="nav-item">
                        {% url 'lab_patient_vital_all_list' as patient_vital_all_list_url %}
                        <a href="{{ patient_vital_all_list_url }}" class="nav-link{% if request.path == patient_vital_all_list_url %} active {% endif %}">
                            <i class="nav-icon fas fa-heartbeat"></i> <!-- Font Awesome icon for vital signs -->
                            <p>All Vital Signs</p> <!-- Renamed navigation link -->
                        </a>
                    </li> 
                    <li class="nav-item">
                        {% url 'lab_manage_service' as manage_service_url %}
                          <a href="{{ manage_service_url }}" class="nav-link{% if request.path == manage_service_url %} active {% endif %}">
                              <i class="nav-icon fas fa-medkit"></i>
                              <p>Services</p>
                          </a>
                      </li>
                          <!-- Other Settings Links -->
                          <li class="nav-item"> 
                            {% url 'lab_manage_disease' as manage_disease_url %}                    
                              <a href="{{ manage_disease_url }}" class="nav-link{% if request.path == manage_disease_url %} active {% endif %}">                     
                                  <i class="nav-icon fas fa-biohazard"></i>
                                  <p>Diseases</p>
                              </a>
                          </li>
                          <li class="nav-item"> 
                            {% url 'lab_health_record_list' as health_record_list_url %}
                            <a href="{{ health_record_list_url }}" class="nav-link{% if request.path == health_record_list_url %} active {% endif %}">                     
                                <i class="nav-icon fas fa-notes-medical"></i> 
                                <p>Chief Complaints</p>
                            </a>
                        </li> 
                        <li class="nav-item">
                            {% url 'lab_reagent_list' as reagent_list_url %}
                            <a href="{{ reagent_list_url }}" class="nav-link{% if request.path == reagent_list_url %} active {% endif %}">
                                <i class="nav-icon fas fa-flask"></i>
                                <p>Reagent Inventory</p>
                            </a>
                        </li>
                          <li class="nav-item">
                            {% url 'lab_medicine_list' as medicine_list_url %}
                              <a href="{{ medicine_list_url }}" class="nav-link{% if request.path == medicine_list_url %} active {% endif %}">                           
                                <i class="nav-icon fas fa-pills"></i>
                                  <p>Medicine</p>
                              </a>
                          </li>                                              
                  </ul>
              </li> 

            
            <li class="nav-item has-treeview">
                <a class="nav-link" href="#">
                    <i class="nav-icon fas fa-calendar"></i>
                    <p>Lab Management <span id="unreadBadge" class="badge badge-danger">0</span><i class="fas fa-angle-left right"></i></p>
                </a>
                <ul class="nav nav-treeview">
                    <!-- Unread Appointments Link -->
                    <li class="nav-item" id="unreadAppointmentsLink">
                        {% url 'lab_unread_orders' as lab_unread_orders_url %}
                        <a href="{{ lab_unread_orders_url }}" class="nav-link {% if request.path == lab_unread_orders_url %} active {% endif %}">
                            <i class="nav-icon fas fa-bell"></i>
                            <p>New order <span id="unreadBadgeCount" class="badge badge-danger">0</span></p>
                        </a>
                    </li>
                    <!-- Read Appointments Link -->
                    <li class="nav-item" id="readAppointmentsLink">
                        {% url 'lab_read_orders' as read_orders_url %}
                        <a href="{{ read_orders_url }}" class="nav-link {% if request.path == read_orders_url %} active {% endif %}">
                            <i class="nav-icon fas fa-history"></i>
                            <p>Old lab orders <span id="readBadgeCount" class="badge badge-danger">0</span></p>
                        </a>
                    </li>
                </ul>
            </li>
          </ul>
      </nav>
      <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

<script>
  function fetchLabOrdersCounts() {
    $.ajax({
        type: 'GET',
        url: '{% url "lab_fetch_laborders_counts" %}',  // Replace with the actual URL for fetching consultation counts
        success: function(data) {
            // Update the badge counts
            console.log(data.unread_count)
            $('#unreadBadge').text(data.unread_count);
            $('#unreadBadgeCount').text(data.unread_count);
            $('#readBadgeCount').text(data.read_count);
        },
        error: function(xhr, status, error) {
            console.error('Error fetching consultation counts:', error);
        }
    });
}


// Call the function to fetch consultation counts initially
$(document).ready(function() {
    fetchLabOrdersCounts();   
});

// Call the function to fetch consultation counts every second
setInterval(fetchConsultationCounts, 1000);

</script>
