{% extends 'divine_admin_template/base_template.html' %}
{% block title %}
Checklist Medicines
{% endblock title %}
{% block breadcrumb %}
{% include "divine_admin_template/modal_form.html" %}

{% endblock breadcrumb %}
{% block main_content %}
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header bg-info text-white">     
       <h6 class="header-title text-center mt-0 mb-1 text-uppercase">Checklist Medicines</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-bordered table-striped table-sm" id="example">
            <thead>
              <tr>
                <th>#</th>
                <th>Drug Name</th>
                <th>Drug Type</th>
                <th>Formulation Unit</th>
                <th>Dividable?</th>
                <th>Dividing Unit</th>
              </tr>
            </thead>
            <tbody>
              {% for medicine in medicines %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ medicine.drug_name }}</td>
                <td>{{ medicine.drug_type }}</td>
                <td>{{ medicine.formulation_unit }}</td>
                <td>{{ medicine.is_dividable|yesno:"Yes,No" }}</td>
                <td>{% if medicine.is_dividable %}{{ medicine.dividing_unit }}{% else %}-{% endif %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% include 'divine_admin_template/datatable.html' %}
{% endblock main_content %}
