{% extends 'divine_admin_template/base_template.html' %}

{% block title %}
 Vital Information
{% endblock title %}

{% block breadcrumb %}
{% include "divine_admin_template/modal_form.html" %}
{% endblock breadcrumb %}

{% load static %}
{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="header-title text-center mt-0 mb-1 text-uppercase">All Vital Information</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed text-nowrap table-bordered table-striped table-sm" id="example" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Patient MRN</th>
                                    <th>Visit Number</th>
                                    <th>Data recorder</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for vital in patient_vitals %}
                                    <tr>
                                        <td>{{ vital.patient__mrn }}</td>
                                        <td>{{ vital.visit__vst }}</td>
                                        <td>
                                            <b style="color: blue;" class="text-capitalize">
                                                {% if vital.doctor__role == "doctor" %}Dr.{% else %}{{ vital.doctor__role }}{% endif %}
                                            </b>
                                       <span  class="text-muted">{{ vital.doctor__admin__first_name }} {{ vital.doctor__middle_name }} {{ vital.doctor__admin__first_name }}</span></td>
                                        <td>{{ vital.latest_date|date:"d-m-Y" }}</td>
                                        <td>
                                            <a href="{% url 'divine_patient_vital_detail' vital.patient__mrn vital.visit__vst %}" class="btn btn-info btn-sm">
                                                View Details
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% include 'divine_admin_template/datatable.html' %}
{% endblock main_content %}
