{% extends 'divine_admin_template/base_template.html' %}

{% block title %}
    List of Appointments
{% endblock title %}

{% block breadcrumb %}
    {% include "divine_admin_template/modal_form.html" %}
{% endblock breadcrumb %}

{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="header-title text-center text-uppercase mb-1 mt-0">List of Appointments</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped table-sm display" id="example">
                            <thead>
                                <tr>
                                    <th>Doctor</th>
                                    <th>Patient</th>
                                    <th>Appointment Date</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>Data recorder</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for appointment in appointments %}
                                    <tr>
                                        <td>
                                            {{ appointment.doctor.admin.first_name }} 
                                            {{ appointment.doctor.middle_name }} 
                                            {{ appointment.doctor.admin.last_name }}
                                        </td>
                                        <td>{{ appointment.patient }}</td>
                                        <td>{{ appointment.appointment_date|date:"d-m-Y" }}</td>
                                        <td>{{ appointment.start_time|time:"H:i" }}</td>
                                        <td>{{ appointment.end_time|time:"H:i" }}</td>
                                        <td>{{ appointment.description }}</td>
                                        <td style="color: {% if appointment.status == 0 %}orange{% elif appointment.status == 1 %}green{% elif appointment.status == 2 %}red{% elif appointment.status == 3 %}blue{% elif appointment.status == 4 %}gray{% elif appointment.status == 5 %}purple{% elif appointment.status == 6 %}darkblue{% elif appointment.status == 7 %}darkgreen{% endif %};">
                                            {% if appointment.status == 0 %}
                                                Pending
                                            {% elif appointment.status == 1 %}
                                                Completed
                                            {% elif appointment.status == 2 %}
                                                Canceled
                                            {% elif appointment.status == 3 %}
                                                Rescheduled
                                            {% elif appointment.status == 4 %}
                                                No-show
                                            {% elif appointment.status == 5 %}
                                                In Progress
                                            {% elif appointment.status == 6 %}
                                                Confirmed
                                            {% elif appointment.status == 7 %}
                                                Arrived
                                            {% endif %}
                                        </td>
                                        <td> 
                                            <b style="color: blue;" class="text-capitalize">
                                                {% if record.data_recorder__role == "doctor" %}Dr.{% else %}{{ record.data_recorder__role }}{% endif %}
                                            </b> 
                                           
                                             <span class="text-muted">{{ appointment.data_recorder }}</span></td>
                                        <td>
                                            <button class="btn btn-danger btn-sm" 
                                                    data-toggle="modal" 
                                                    data-target="#deleteAppointmentModal{{ appointment.id }}" 
                                                    title="Delete">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>

                                    <!-- Modal for Confirming Appointment Deletion -->
                                    <div class="modal fade" id="deleteAppointmentModal{{ appointment.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Delete Appointment</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Are you sure you want to delete this appointment?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <form method="POST" action="{% url 'divine_delete_consultation' appointment.id %}">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'divine_admin_template/datatable.html' %}
{% endblock main_content %}
