{% extends 'nurse_template/base_template.html' %}

{% block title %}
    Update Profile Picture
{% endblock title %}

{% block main_content %}
{% load static %}        

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <!-- Form column -->
            <div class="col-md-12">
                <!-- General form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Update Profile Picture</h3>
                    </div>            

                    <!-- Display error messages, if any -->
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <!-- Form for updating the profile picture -->
                    <form method="post" enctype="multipart/form-data"> 
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="profile_picture">Choose Profile Picture:</label>
                            <!-- Input field for selecting the profile picture -->
                            <!-- Restrict file types to images and limit file size to 2MB -->
                            <input type="file" name="profile_picture" id="profile_picture" class="form-control" accept="image/*" max-size="2097152">
                            <small class="text-muted">Max file size: 2MB. Allowed file types: .jpg, .jpeg, .png, .gif</small>
                        </div>

                        <!-- Pre-populate with existing image, if available -->
                        {% if request.user.staff.profile_picture %}
                            <div class="form-group">
                                <label>Current Profile Picture:</label><br>
                                <img src="{{ request.user.staff.profile_picture.url }}" alt="Profile Picture" class="img-circle elevation-2 " style="max-width: 200px; max-height: 200px;">
                            </div>
                        {% endif %}

                        <!-- Submit button to update the profile picture -->
                        <button type="submit" class="btn btn-primary btn-block">Update Picture</button>
                    </form>
                </div>        
            </div>
        </div>
        <!-- /.row -->
    </div>            
</section>

{% endblock main_content %}
