{% extends 'hod_template/base_template.html' %}
{% block title %}
Patient procedure   
{% endblock title %}


{% block breadcrumb %}
{% include "hod_template/modal_form.html" %} 
{% endblock breadcrumb %}
{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-header bg-primary text-white text-center mt-0 mb-1">Patient procedure for <p style="color: green;">{{ patient }}-{{ patient.mrn }}</p>  </h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Duration Time</th>
                                    <th>Equipments Used</th>
                                    <th>Cost</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for procedure in procedures %}
                                    <tr>
                                        <td>{{ procedure.name }}</td>
                                        <td>{{ procedure.description }}</td>
                                        <td>{{ procedure.duration_time }}</td>
                                        <td>{{ procedure.equipments_used }}</td>
                                        <td>{{ procedure.cost }}</td>
                                        <td>        
                                            <button class="btn btn-dark btn-sm" data-toggle="modal" data-target="#editProcedure{{ procedure.id }}"  data-toggle="tooltip" title="Edit">
                                            <i class="fa fa-edit text-white"></i>
                                        </button>
                                          <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteProcedure{{ procedure.id }}"  data-toggle="tooltip" title="Delete">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                          <!-- Add billing action link -->
                                        <a href="{% url 'generate_billing' procedure.id %}" class="btn btn-success btn-sm" data-toggle="tooltip" title="Generate Billing">
                                            <i class="fas fa-file-invoice"></i>
                                        </a>
                                    </td>
                                    </tr>                  
                                                       
                                                    <!-- Modal for Confirming Deletion -->
                                        <div class="modal fade" id="deleteProcedure{{ procedure.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteProcedureModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="deleteProcedureModalLabel">Confirm Deletion</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </div>
                                                <div class="modal-body">
                                                <p>Are you sure you want to delete the procedure "{{ procedure.name }}"?</p>
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <button type="button" class="btn btn-danger" onclick="deleteProcedure({{ procedure.id }})">Delete</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                      
                                {% endfor %}
                            </tbody>
                        </table>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
</div>




  <!-- JavaScript to handle AJAX request for deleting procedure -->
  <script>
  function deleteProcedure(procedureId) {
      // Make AJAX request for deleting procedure
      $.ajax({
          url: '{% url "admin_delete_procedure" %}',  // Replace with your server delete endpoint
          type: 'POST',
          data: { procedure_id: procedureId },
          success: function(response) {
              alert(response.message);  // Display success or error message to the user           
              // Optionally, you may want to refresh the page or update the procedure list after deletion
              if (response.success) {
                $('#deleteProcedure' + procedureId).modal('hide');  // Close the modal after deletion
                location.reload();  // Reload the page
            }
          },
          error: function(error) {
              alert('An error occurred. Please try again.');  // Display a generic error message
          }
      });
  }
  </script> 
 

{% include 'hod_template/datatable.html' %}
    

{% endblock main_content %}
