{% extends 'hod_template/base_template.html' %}

{% block title %}
Reagent List
{% endblock title %}

{% block breadcrumb %}
{% include "hod_template/modal_form.html" %}
<a class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#addReagentModal">
    <i class="fas fa-plus"></i> New Reagent
</a>
{% endblock breadcrumb %}
{% load static %}
{% block main_content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
          <div class="card-header">
            <h6  class="header-title text-center mt-0 mb-1  text-uppercase">Reagent List</h6>
          </div>
          <div class="card-body">              
            <div class="table-responsive">
              <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm  display" id="example"  style="width:100%">
                  <thead>
                      <tr>
                          <th>Name</th>
                          <th>Expiration Date</th>
                          <th>Manufacturer</th>
                          <th>Lot Number</th>
                          <th>Total Price</th>
                          <th>Quantity in Stock</th>
                          <th>Price per Unit</th>
                          <th>Remaining Quantity</th>                     
                          <th>Action</th>              
                      </tr>
                  </thead>
                  <tbody>
                      {% for reagent in reagent_list %}
                          <tr>
                              <td>{{ reagent.name }}</td>
                              <td>{{ reagent.expiration_date }}</td>
                              <td>{{ reagent.manufacturer }}</td>
                              <td>{{ reagent.lot_number }}</td>
                              <td>{{ reagent.total_price }}</td>
                              <td>{{ reagent.quantity_in_stock }}</td>
                              <td>{{ reagent.price_per_unit }}</td>
                              <td>{{ reagent.remaining_quantity }}</td>
                              <td>
                                <button class="btn btn-dark btn-sm" data-toggle="modal" data-target="#editReagentModal{{ reagent.id }}"  data-toggle="tooltip" title="Edit">
                                  <i class="fa fa-edit text-white"></i>
                              </button>
                                <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteReagentModal{{ reagent.id }}"  data-toggle="tooltip" title="Delete">
                                  <i class="fas fa-trash"></i>
                              </button>
                              <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#increaseReagentModal{{ reagent.id }}"  data-toggle="tooltip" title="Increase Stock Level">
                                <i class="fas fa-plus"></i>
                            </button>   
                            <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#useReagentModal{{ reagent.id }}"  data-toggle="tooltip" title="Use">
                                <i class="fas fa-check"></i>
                            </button>                  
                          </td>                                          
                       
                              </div>
                          </div>
                      </div>
                      </div>               
                           
                              </div>
                            </div> 
                             
                          </tr>
                      {% endfor %}
                  </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div> 
</div>


{% for reagent in reagent_list %}
   <div class="modal fade" id="useReagentModal{{ reagent.id }}" tabindex="-1" role="dialog" aria-labelledby="useReagentModalLabel{{ reagent.id }}" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="useReagentModalLabel{{ reagent.id }}">Use {{ reagent.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <div id="useReagentContainers{{ reagent.id }}" class="alert" role="alert"></div>
                <form id="useReagentForm{{ reagent.id }}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="itemId{{ reagent.id }}" name="itemId" value="{{ reagent.id }}">

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="quantityUsed{{ reagent.id }}">Quantity To Use</label>
                            <input type="number" class="form-control" id="quantityUsed{{ reagent.id }}" name="quantityUsed" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="usageDate{{ reagent.id }}">Usage Date</label>
                            <input type="date" class="form-control" id="usageDate{{ reagent.id }}" name="usageDate" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="notes{{ reagent.id }}">Notes</label>
                            <textarea name="notes" id="notes{{ reagent.id }}" class="form-control" rows="2"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-block" id="useReagentItem{{ reagent.id }}">Use Item</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
        $('#useReagentItem{{ reagent.id }}').click(function (event) {
            var form = document.getElementById('useReagentForm{{ reagent.id }}');
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            } else {
                var formData = $('#useReagentForm{{ reagent.id }}').serialize();

                $.ajax({
                    url: '{% url "admin_use_reagent_item" %}', // Replace with your actual URL
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            $('#useReagentContainers{{ reagent.id }}').html('<div class="alert alert-success">' + response.message + '</div>');
                            location.reload(true);
                        } else {
                            $('#useReagentContainers{{ reagent.id }}').html('<div class="alert alert-danger">' + response.message + '</div>');
                        }
                    },
                    error: function () {
                        console.error('AJAX request failed');
                        $('#useReagentContainers{{ reagent.id }}').html('<div class="alert alert-danger">AJAX request failed</div>');
                    }
                });
            }

            form.classList.add('was-validated');
        });
    });
  </script>
{% endfor %}


{% for reagent in reagent_list %}
   <div class="modal fade" id="increaseReagentModal{{ reagent.id }}" tabindex="-1" role="dialog" aria-labelledby="increaseReagentModalLabel{{ reagent.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="increaseReagentModalLabel{{ reagent.id }}">Increase Inventory Stock Level - {{ reagent.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <div id="increaseReagentContainers{{ reagent.id }}" class="alert" role="alert"></div>
                <form id="increaseReagentForm{{ reagent.id }}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="item_id" value="{{ reagent.id }}">
                    <div class="form-group">
                        <label for="quantityToAdd{{ reagent.id }}">Quantity to Add</label>
                        <input type="number" class="form-control" id="quantityToAdd{{ reagent.id }}" name="quantityToAdd" required>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-block" id="increaseReagentStock{{ reagent.id }}">Increase Stock</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
        $('#increaseReagentStock{{ reagent.id }}').click(function (event) {
            var form = document.getElementById('increaseReagentForm{{ reagent.id }}');
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            } else {
                var formData = $('#increaseReagentForm{{ reagent.id }}').serialize();

                // Debugging: Log formData to check what is being sent
                console.log(formData);

                $.ajax({
                    url: '{% url "admin_increase_reagent_stock" %}', // Replace with your actual URL
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            $('#increaseReagentContainers{{ reagent.id }}').html('<div class="alert alert-success">' + response.message + '</div>');
                            location.reload(true); // Reload the page after successful update
                        } else {
                            $('#increaseReagentContainers{{ reagent.id }}').html('<div class="alert alert-danger">' + response.message + '</div>');
                        }
                    },
                    error: function (error) {
                        console.error('AJAX request failed', error); // Log error details
                        $('#increaseReagentContainers{{ reagent.id }}').html('<div class="alert alert-danger">AJAX request failed</div>');
                    }
                });
            }

            form.classList.add('was-validated');
        });
    });
  </script>
{% endfor %}



{% for reagent in reagent_list %}
   <!-- Delete Modal -->
   <div class="modal fade" id="deleteReagentModal{{ reagent.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteReagentModalLabel{{ reagent.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteReagentModalLabel{{ reagent.id }}">Delete Reagent</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this reagent: <strong>{{ reagent.name }}</strong>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" onclick="deleteReagent('{{ reagent.id }}')">Delete</button>
            </div>
        </div>
    </div>
  </div>

  <script>
    function deleteReagent(reagentId) {
        $.ajax({
            type: 'POST',
            url: '{% url "admin_delete_reagent" %}',
            data: {
                'reagent_id': reagentId
            },
            success: function (data) {
                if (data.success) {
                    $('#deleteReagentModal' + reagentId).modal('hide');
                    location.reload(true);  // Reloads the page to reflect the changes
                } else {
                    console.log(data.message);  // Log any error messages
                }
            },
            error: function (error) {
                console.log(error);  // Log any AJAX errors to the console
            }
        });
    }
  </script>
{% endfor %}



{% for reagent in reagent_list %}
   <!-- Bootstrap Modal -->
   <div class="modal fade" id="editReagentModal{{ reagent.id }}" tabindex="-1" role="dialog" aria-labelledby="editReagentModalLabel{{ reagent.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editReagentModalLabel{{ reagent.id }}">Update Reagent</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="editReagentContainers{{ reagent.id }}" class="alert" role="alert"></div>
          <form id="editReagentForm{{ reagent.id }}" method="post">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="name">Name</label>
                <input type="text{{ reagent.id }}" class="form-control" id="name" name="name" placeholder="Name" value="{{ reagent.name }}" required>
                <input type="hidden" class="form-control" id="reagent_id{{ reagent.id }}" name="reagent_id" value="{{ reagent.id }}"/>
              </div>
              <div class="form-group col-md-4">
                <label for="expiration_date{{ reagent.id }}">Expiration Date</label>
                <input type="date" class="form-control" id="expiration_date{{ reagent.id }}" name="expiration_date" value="{{ reagent.expiration_date|date:'Y-m-d' }}">
              </div>
              <div class="form-group col-md-4">
                <label for="manufacturer{{ reagent.id }}">Manufacturer</label>
                <input type="text" class="form-control" id="manufacturer{{ reagent.id }}" name="manufacturer" placeholder="Manufacturer" value="{{ reagent.manufacturer }}" required>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="lot_number{{ reagent.id }}">Lot Number</label>
                <input type="text" class="form-control" id="lot_number{{ reagent.id }}" name="lot_number" placeholder="Lot Number" value="{{ reagent.lot_number }}" required>
              </div>
              <div class="form-group col-md-4">
                <label for="storage_conditions{{ reagent.id }}">Storage Conditions</label>
                <textarea class="form-control" id="storage_conditions{{ reagent.id }}" name="storage_conditions" rows="3">{{ reagent.storage_conditions }}</textarea>
              </div>
              <div class="form-group col-md-4">
                <label for="quantity_in_stock{{ reagent.id }}">Quantity in Stock</label>
                <input type="number" class="form-control" id="quantity_in_stock{{ reagent.id }}" name="quantity_in_stock" placeholder="Quantity in Stock" value="{{ reagent.quantity_in_stock }}" required>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="price_per_unit{{ reagent.id }}">Price per Unit</label>
                <input type="number" class="form-control" id="price_per_unit{{ reagent.id }}" name="price_per_unit" placeholder="Price per Unit" value="{{ reagent.price_per_unit }}" required>
              </div>             
            </div>              
            <div class="form-row">
                <div class="col-md-12">
                    <button  type="submit" class="btn btn-primary btn-block" id="editReagent{{ reagent.id }}">Update Reagent </button>  
                </div>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>  

  <script>
    $(document).ready(function () {
      $('#editReagent{{ reagent.id }}').click(function (event) {
        var form = document.getElementById('editReagentForm{{ reagent.id }}');
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        } else {
          var formData = $('#editReagentForm{{ reagent.id }}').serialize();

          $.ajax({
            url: '{% url "admin_add_reagent" %}', // Replace with your actual URL
            type: 'POST',
            data: formData,
            success: function (response) {
              if (response.success) {
                $('#editReagentContainers{{ reagent.id }}').html('<div class="alert alert-success">' + response.message + '</div>');           
                location.reload(true); // Reload page after successful submission (optional)
              } else {
                $('#editReagentContainers{{ reagent.id }}').html('<div class="alert alert-danger">' + response.message + '</div>');
              }
            },
            error: function () {
              console.error('AJAX request failed');
              $('#editReagentContainers{{ reagent.id }}').html('<div class="alert alert-danger">AJAX request failed</div>');
            }
          });
        }

        form.classList.add('was-validated');
      });
    });
  </script>               
        
{% endfor %}


<div class="modal fade" id="addReagentModal" tabindex="-1" role="dialog" aria-labelledby="addReagentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addReagentModalLabel">Add Reagent</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="addReagentContainers" class="alert" role="alert"></div>
        <form id="addReagentForm" method="post">
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
              <input type="hidden" class="form-control" id="reagent_id" name="reagent_id">
            </div>
            <div class="form-group col-md-4">
              <label for="expiration_date">Expiration Date</label>
              <input type="date" class="form-control" id="expiration_date" name="expiration_date">
            </div>
            <div class="form-group col-md-4">
              <label for="manufacturer">Manufacturer</label>
              <input type="text" class="form-control" id="manufacturer" name="manufacturer" placeholder="Manufacturer" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="lot_number">Lot Number</label>
              <input type="text" class="form-control" id="lot_number" name="lot_number" placeholder="Lot Number" required>
            </div>
            <div class="form-group col-md-4">
              <label for="storage_conditions">Storage Conditions</label>
              <textarea class="form-control" id="storage_conditions" name="storage_conditions" cols="2"></textarea>
            </div>
            <div class="form-group col-md-4">
              <label for="quantity_in_stock">Quantity in Stock</label>
              <input type="number" class="form-control" id="quantity_in_stock" name="quantity_in_stock" placeholder="Quantity in Stock" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="price_per_unit">Price per Unit</label>
              <input type="number" class="form-control" id="price_per_unit" name="price_per_unit" placeholder="Price per Unit" required>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12">
              <button type="button" class="btn btn-primary btn-block" id="addReagent">Add Reagent</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#addReagent').click(function (event) {
      var form = document.getElementById('addReagentForm');
      if (form.checkValidity() === false) {
        event.preventDefault();
        event.stopPropagation();
      } else {
        var formData = $('#addReagentForm').serialize();

        $.ajax({
          url: '{% url "admin_add_reagent" %}', // Replace with your actual URL
          type: 'POST',
          data: formData,
          success: function (response) {
            if (response.success) {
              $('#addReagentContainers').html('<div class="alert alert-success">' + response.message + '</div>');            
              location.reload(true); // Reload page after successful submission (optional)
            } else {
              $('#addReagentContainers').html('<div class="alert alert-danger">' + response.message + '</div>');
            }
          },
          error: function () {
            console.error('AJAX request failed');
            $('#addReagentContainers').html('<div class="alert alert-danger">AJAX request failed</div>');
          }
        });
      }

      form.classList.add('was-validated');
    });
  });
</script>

  


{% include 'hod_template/datatable.html' %}
{% endblock main_content %}
