{% extends 'hod_template/base_template.html' %}

{% block title %}
Investments
{% endblock title %}
{% block breadcrumb %}
{% include "hod_template/modal_form.html" %}
<a class="btn btn-primary float-right" type="button" href="{% url 'add_investment' %}">
    <i class="fas fa-plus"></i> New Investment
</a>
{% endblock breadcrumb %}
{% load static %}
{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="header-title text-center mt-0 mb-1 text-uppercase">Investments</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm display" id="example" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Investment Type</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for investment in investments %}
                                <tr>
                                    <td>{{ investment.investment_type }}</td>
                                    <td>{{ investment.amount }}</td>
                                    <td>{{ investment.date }}</td>
                                    <td>{{ investment.description }}</td>
                                    <td>
                                        <a href="{% url 'edit_investment' investment.id %}" class="btn btn-sm btn-warning">
                                            <i class="fas fa-edit"></i> Edit
                                        </a>
                                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal{{ investment.id }}">
                                            <i class="fas fa-trash"></i> Delete
                                        </button>

                                        <!-- Delete Modal -->
                                        <div class="modal fade" id="deleteModal{{ investment.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ investment.id }}" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteModalLabel{{ investment.id }}">Confirm Delete</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to delete this investment?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                        <a href="{% url 'delete_investment' investment.id %}" class="btn btn-danger">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'hod_template/datatable.html' %}
{% endblock main_content %}
