{% extends 'hod_template/base_template.html' %}

{% block title %}
Employee List
{% endblock title %}
{% block breadcrumb %}
{% include "hod_template/modal_form.html" %}
<a class="btn btn-primary float-right" type="button" href="{% url 'add_employee' %}">
    <i class="fas fa-plus"></i> New Employee
</a>
{% endblock breadcrumb %}
{% load static %}
{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="header-title text-center mt-0 mb-1 text-uppercase">Employee List</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm display" id="example" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Department</th>
                                    <th>Employment Type</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Salary</th>
                                    <th>Bank Account</th>
                                    <th>Account Number</th>
                                    <th>Account Holder Name</th>
                                    <th>TIN Number</th>
                                    <th>NSSF Number</th>
                                    <th>NHIF Number</th>
                                    <th>WCF Number</th>
                                    <th>TRA Status</th>
                                    <th>NSSF Status</th>
                                    <th>WCF Status</th>
                                    <th>HESLB Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for employee in employees %}
                                <tr>
                                    <td>{{ employee.name }}</td>
                                    <td>{{ employee.department }}</td>
                                    <td>{{ employee.employment_type }}</td>
                                    <td>{{ employee.start_date }}</td>
                                    <td>{{ employee.end_date }}</td>
                                    <td>{{ employee.salary }}</td>
                                    <td>{{ employee.bank_account }}</td>
                                    <td>{{ employee.bank_account_number }}</td>
                                    <td>{{ employee.account_holder_name }}</td>
                                    <td>{{ employee.tin_number }}</td>
                                    <td>{{ employee.nssf_membership_number }}</td>
                                    <td>{{ employee.nhif_number }}</td>
                                    <td>{{ employee.wcf_number }}</td>
                                    <td>{{ employee.tra_deduction_status }}</td>
                                    <td>{{ employee.nssf_deduction_status }}</td>
                                    <td>{{ employee.wcf_deduction_status }}</td>
                                    <td>{{ employee.heslb_deduction_status }}</td>
                                    <td>
                                        <a href="{% url 'edit_employee' employee.id %}" class="btn btn-sm btn-warning">
                                            <i class="fas fa-edit"></i> Edit
                                        </a>
                                        <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteEmployeeModal{{ employee.id }}">
                                            <i class="fas fa-trash-alt"></i> Delete
                                        </button>

                                        <!-- Modal for delete confirmation -->
                                        <div class="modal fade" id="deleteEmployeeModal{{ employee.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteEmployeeModalLabel{{ employee.id }}" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteEmployeeModalLabel{{ employee.id }}">Confirm Delete</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to delete this employee?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                        <a href="{% url 'delete_employee' employee.id %}" class="btn btn-danger">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'hod_template/datatable.html' %}
{% endblock main_content %}
