{% extends 'hod_template/base_template.html' %}

{% block title %}
Drug Unit Measures
{% endblock title %}

{% block breadcrumb %}
{% include "hod_template/modal_form.html" %}
<a class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#addMedicineUnitMeasureModal">
    <i class="fas fa-plus"></i> New  Drug Unit Measures
</a>
{% endblock breadcrumb %}

{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-primary">
                    <h6 class="header-title text-center mt-0 mb-1 text-uppercase">Drug Unit Measures List</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">    
                        <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Short Name</th>
                                    <th>Application User</th>
                                    <th>Created At</th>
                                    <th>Updated At</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for measure in measures %}
                                <tr>
                                    <td>{{ measure.name }}</td>
                                    <td>{{ measure.short_name }}</td>
                                    <td>{{ measure.application_user }}</td>
                                    <td>{{ measure.created_at|date:'d/m/Y' }}</td>
                                    <td>{{ measure.updated_at|date:'d/m/Y' }}</td>
                                    <td>  
                                        <button class="btn btn-dark btn-sm" data-toggle="modal" data-target="#editMedicineUnitMeasureModal{{ measure.id }}" data-toggle="tooltip" title="Edit">
                                            <i class="fa fa-edit text-white"></i>
                                        </button>
                                        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteMedicineUnitMeasureModal{{ measure.id }}" data-toggle="tooltip" title="Delete">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>                                 
                                                                <!-- Modal -->
                              
                                                                <!-- Delete Medicine Unit Measure Modal -->
                                <div class="modal fade" id="deleteMedicineUnitMeasureModal{{ measure.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteMedicineUnitMeasureModalLabel{{ measure.id }}" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteMedicineUnitMeasureModalLabel{{ measure.id }}">Delete Medicine Unit Measure</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete the drug unit measure "{{ measure.name }}"?</p>
                                                <div id="deleteMessageContainer{{ measure.id }}"></div> <!-- Container for displaying success/error messages -->
                                            </div>                                         
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <button type="button" class="btn btn-danger" onclick="deleteMedicineUnitMeasure({{ measure.id }})">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        {% endfor %}
                            </tbody>     
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% comment %} {% for  in  %}
    
{% endfor %} {% endcomment %}

{% for measure in measures %}
<div class="modal fade" id="editMedicineUnitMeasureModal{{ measure.id }}" tabindex="-1" role="dialog" aria-labelledby="editMedicineUnitMeasureModalLabel{{ measure.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editMedicineUnitMeasureModalLabel{{ measure.id }}">Update Medicine Unit Measure</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="editMedicineUnitMeasureContainers{{ measure.id }}"></div> <!-- Container for displaying success/error messages -->
                <form id="editMedicineUnitMeasureForm{{ measure.id }}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="unit_measure_id" value="{{ measure.id }}">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name{{ measure.id }}">Name:</label>
                                <input type="text" class="form-control" id="name{{ measure.id }}" name="name" value="{{ measure.name }}" required>
                                <input type="hidden" id="unit_measure_id{{ measure.id }}" name="unit_measure_id" value="{{ measure.id }}">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="short_name{{ measure.id }}">Short Name:</label>
                                <input type="text" class="form-control" id="short_name{{ measure.id }}" name="short_name" value="{{ measure.short_name }}" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="application_user{{ measure.id }}">Application User:</label>
                                <input type="text" class="form-control" id="application_user{{ measure.id }}" name="application_user" value="{{ measure.application_user }}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary btn-block" id="editMedicineUnitMeasure{{ measure.id }}">Update Drug Unit Measure</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#editMedicineUnitMeasure{{ measure.id }}').click(function (event) {
            var form = document.getElementById('editMedicineUnitMeasureForm{{ measure.id }}');
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            } else {
                var formData = $('#editMedicineUnitMeasureForm{{ measure.id }}').serialize();

                $.ajax({
                    url: '{% url "admin_add_medicine_unit_measure" %}', // Update with your actual URL
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            $('#editMedicineUnitMeasureContainers{{ measure.id }}').html('<div class="alert alert-success">' + response.message + '</div>');
                            location.reload(true);
                        } else {
                            $('#editMedicineUnitMeasureContainers{{ measure.id }}').html('<div class="alert alert-danger">' + response.message + '</div>');
                        }
                    },
                    error: function () {
                        console.error('AJAX request failed');
                        $('#editMedicineUnitMeasureContainers{{ measure.id }}').html('<div class="alert alert-danger">AJAX request failed</div>');
                    }
                });
            }

            form.classList.add('was-validated');
        });
    });
</script>
{% endfor %}

<!-- Modal -->
<div class="modal fade" id="addMedicineUnitMeasureModal" tabindex="-1" role="dialog" aria-labelledby="addMedicineUnitMeasureModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addMedicineUnitMeasureModalLabel">Add Drug Unit Measure</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="addMedicineUnitMeasureContainers" class="alert" role="alert"></div>
                <form id="addMedicineUnitMeasureForm" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="short_name">Short Name:</label>
                                <input type="text" class="form-control" id="short_name" name="short_name" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="application_user">Application User:</label>
                                <input type="text" class="form-control" id="application_user" name="application_user" >
                            </div>
                        </div>
                    </div>  
                    <div class="form-group row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary btn-block" id="addMedicineUnitMeasure">Add Drug Unit Measure</button>
                        </div>
                    </div> 
                </form>              
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#addMedicineUnitMeasure').click(function (event) {
            var form = document.getElementById('addMedicineUnitMeasureForm');
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            } else {
                var formData = $('#addMedicineUnitMeasureForm').serialize();

                $.ajax({
                    url: '{% url "admin_add_medicine_unit_measure" %}', // Update with your actual URL
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            $('#addMedicineUnitMeasureContainers').html('<div class="alert alert-success">' + response.message + '</div>');
                            location.reload(true);
                        } else {
                            $('#addMedicineUnitMeasureContainers').html('<div class="alert alert-danger">' + response.message + '</div>');
                        }
                    },
                    error: function () {
                        console.error('AJAX request failed');
                        $('#addMedicineUnitMeasureContainers').html('<div class="alert alert-danger">AJAX request failed</div>');
                    }
                });
            }

            form.classList.add('was-validated');
        });
    });
</script>

  
  <script>
            function deleteMedicineUnitMeasure(measureId) {
                // Send AJAX POST request
                $.ajax({
                    type: 'POST',
                    url: '{% url "admin_delete_medicine_unit_measure" %}',
                    data: {
                        unit_measure_id: measureId,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(response) {
                        if (response.success) {
                            // If success, display success message
                            $('#deleteMessageContainer' + measureId).html('<div class="alert alert-success">' + response.message + '</div>');
                            // Reload the page or update any necessary UI elements
                            location.reload();
                        } else {
                            // If error, display error message
                            $('#deleteMessageContainer' + measureId).html('<div class="alert alert-danger">' + response.message + '</div>');
                        }
                    },
                    error: function(xhr, status, error) {
                        // If request fails, display error message
                        $('#deleteMessageContainer' + measureId).html('<div class="alert alert-danger">Failed to process request. Please try again later.</div>');
                    }
                });
            }
      
        
  </script>
  
  
{% include 'hod_template/datatable.html' %}
{% endblock main_content %}
