{% extends 'hod_template/base_template.html' %}

{% block title %}
Prescription Frequency List
{% endblock title %}

{% block breadcrumb %}
{% include "hod_template/modal_form.html" %}
<a class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#addFrequencyModal">
    <i class="fas fa-plus"></i> New  Frequency
</a>
{% endblock breadcrumb %}

{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-primary">
                    <h3 class="header-title text-center mt-0 mb-1 text-uppercase">Prescription Frequency List</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">    
                        <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Interval</th>
                                    <th>Description</th>
                                    <th>Created At</th>
                                    <th>Updated At</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for frequency in frequencies %}
                                <tr>
                                    <td>{{ frequency.name }}</td>
                                    <td>{{ frequency.interval }}</td>
                                    <td>{{ frequency.description }}</td>
                                    <td>{{ frequency.created_at|date:'d/m/Y' }}</td>
                                    <td>{{ frequency.updated_at|date:'d/m/Y' }}</td>
                                    <td>  
                                        <button class="btn btn-dark btn-sm" data-toggle="modal" data-target="#editFrequencyModal{{ frequency.id }}" data-toggle="tooltip" title="Edit">
                                            <i class="fa fa-edit text-white"></i>
                                        </button>
                                        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteFrequencyModal{{ frequency.id }}" data-toggle="tooltip" title="Delete">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            
                                                                    <!-- Delete Frequency Modal -->
                                <div class="modal fade" id="deleteFrequencyModal{{ frequency.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteFrequencyModalLabel{{ frequency.id }}" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteFrequencyModalLabel{{ frequency.id }}">Delete Frequency</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete the frequency <strong>{{ frequency.name }}</strong>?</p>
                                            </div>
                                            <!-- Message Container -->
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div id="deleteMessageContainer{{ frequency.id }}"></div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-danger" onclick="deleteFrequency({{ frequency.id }})">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                               
                                {% endfor %}
                                
                            </tbody> 
                            
                            <script>
                                function deleteFrequency(frequencyId) {
                                    // Send the delete request to the server via AJAX
                                    $.ajax({
                                        url: '{% url 'admin_delete_frequency' %}',
                                        type: 'POST',
                                        data: {
                                            'frequency_id': frequencyId,
                                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                                        },
                                        success: function(response) {
                                            // Handle success response
                                            if (response.status === 'success') {
                                                $('#deleteMessageContainer' + frequencyId).html('<div class="alert alert-success">' + response.message + '</div>');
                                                location.reload(true); // Reload the page after successful deletion
                                            } else {
                                                $('#deleteMessageContainer' + frequencyId).html('<div class="alert alert-danger">' + response.message + '</div>');
                                            }
                                        },
                                        error: function(xhr, status, error) {
                                            // Handle error response
                                            $('#deleteMessageContainer' + frequencyId).html('<div class="alert alert-danger">' + xhr.responseJSON.message + '</div>');
                                        }
                                    });
                                }
                            
                              
                            </script>                                               
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% for frequency in frequencies %}
   <!-- Edit Frequency Modal -->
<div class="modal fade" id="editFrequencyModal{{ frequency.id }}" tabindex="-1" role="dialog" aria-labelledby="editFrequencyModalLabel{{ frequency.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editFrequencyModalLabel{{ frequency.id }}">Edit Frequency</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="editFrequencyContainers{{ frequency.id }}" class="alert" role="alert"></div>
                <form id="editFrequencyForm{{ frequency.id }}" method="post">
                    {% csrf_token %}
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="frequencyName{{ frequency.id }}">Name:</label>
                                    <input type="text" class="form-control" id="frequencyName{{ frequency.id }}" name="name" value="{{ frequency.name }}" required>
                                    <input type="hidden"  id="frequency_id{{ frequency.id }}" name="frequency_id" value="{{ frequency.id }}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="frequencyInterval{{ frequency.id }}">Interval:</label>
                                    <input type="text" class="form-control" id="frequencyInterval{{ frequency.id }}" name="interval" value="{{ frequency.interval }}" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="frequencyDescription{{ frequency.id }}">Description:</label>
                                    <input type="text" class="form-control" id="frequencyDescription{{ frequency.id }}" name="description" value="{{ frequency.description }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary btn-block" id="updateFrequency{{ frequency.id }}">Update Prescription Frequency</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#updateFrequency{{ frequency.id }}').click(function (event) {
            var form = document.getElementById('editFrequencyForm{{ frequency.id }}');
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            } else {
                var formData = $('#editFrequencyForm{{ frequency.id }}').serialize();

                $.ajax({
                    url: '{% url "admin_add_frequency" %}', // Update with your actual URL
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            $('#editFrequencyContainers{{ frequency.id }}').html('<div class="alert alert-success">' + response.message + '</div>');
                            location.reload(true);
                        } 
                        else {
                            $('#editFrequencyContainers{{ frequency.id }}').html('<div class="alert alert-danger">' + response.message + '</div>');
                        }
                    },
                    error: function () {
                        console.error('AJAX request failed');
                        $('#editFrequencyContainers{{ frequency.id }}').html('<div class="alert alert-danger">AJAX request failed</div>');
                    }
                });
            }

            form.classList.add('was-validated');
        });
    });
</script>
{% endfor %}

 <!-- Modal -->
<div class="modal fade" id="addFrequencyModal" tabindex="-1" role="dialog" aria-labelledby="addFrequencyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addFrequencyModalLabel">Add Prescription Frequency</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="addFrequencyContainers" class="alert" role="alert"></div>
                <form id="addFrequencyForm" method="post">
                    {% csrf_token %}
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="frequencyName">Name:</label>
                                    <input type="text" class="form-control" id="frequencyName" name="name" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="frequencyInterval">Interval:</label>
                                    <input type="text" class="form-control" id="frequencyInterval" name="interval" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="frequencyDescription">Description:</label>
                                    <input type="text" class="form-control" id="frequencyDescription" name="description">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary btn-block" id="addFrequency">Add Prescription Frequency</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>  
  <script>
    $(document).ready(function () {
        $('#addFrequency').click(function (event) {
            var form = document.getElementById('addFrequencyForm');
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            } else {
                var formData = $('#addFrequencyForm').serialize();

                $.ajax({
                    url: '{% url "admin_add_frequency" %}', // Update with your actual URL
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            $('#addFrequencyContainers').html('<div class="alert alert-success">' + response.message + '</div>');
                            location.reload(true);
                        } else {
                            $('#addFrequencyContainers').html('<div class="alert alert-danger">' + response.message + '</div>');
                        }
                    },
                    error: function () {
                        console.error('AJAX request failed');
                        $('#addFrequencyContainers').html('<div class="alert alert-danger">AJAX request failed</div>');
                    }
                });
            }

            form.classList.add('was-validated');
        });
    });
</script>


 
  
{% include 'hod_template/datatable.html' %}
{% endblock main_content %}
