{% extends 'kahama_template/base_template.html' %}

{% block title %}
{{ patient.first_name }} {% if  patient.middle_name   %}{{ patient.middle_name }} {% endif %} {{ patient.last_name }} visit
{% endblock title %}

{% block page_title %}   
    <a class="btn btn-primary" type="button"  href="{% url 'kahama_patient_visit_history_view' patient.id %}" class="breadcrumb-link">
        <i class="fas fa-arrow-left"></i> Back
    </a>
      <!-- Breadcrumb content can be added here if needed -->
       {% if visit.data_recorder == request.user.staff %}
       <a class="btn btn-secondary" type="button"  href="{% url 'kahama_health_info_edit' patient.id %}" class="breadcrumb-link">
        <i class="fas fa-arrow-left"></i> Back health info
    </a>
       {% endif %}
   
        <!-- Breadcrumb content can be added here if needed -->
         {% if visit %}
         <a class="btn btn-success" type="button"  href="{% url 'kahama_save_remotepatient_vitals' patient.id visit.id %}" class="breadcrumb-link">
            <i class="fas fa-arrow-right"></i> Forward
        </a>
         {% endif %}
       
{% endblock page_title %}

{% block breadcrumb %}
Patient Visit
{% endblock breadcrumb %}

{% block main_content %}
    {% load static %}             

    <div class="container-fluid">
        <!-- Patient Information Card -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="font-size:13px;">
                            <div class="col-md-3">PATIENT: <b>{{ patient.first_name }} {% if  patient.middle_name   %}{{ patient.middle_name }} {% endif %} {{ patient.last_name }}</b></div>
                            <div class="col-md-3"><b>DOB: {{ patient.dob|date:'Y-m-d' }} [ Age: {% if patient.dob %}
                                <script>
                                    var dob = new Date("{{ patient.dob|date:'Y-m-d' }}");
                                    var now = new Date();
                                    var ageMilliseconds = now - dob;
                                    var ageSeconds = ageMilliseconds / 1000;
                                    var ageYears = Math.floor(ageSeconds / (365.25 * 24 * 60 * 60));
                                    document.write(ageYears + ' years');
                                </script>
                                {% else %}
                                {{ patient.age }}
                                {% endif %}]</b></div>
                            <div class="col-md-3">SEX: <b>{{ patient.gender }}</b></div>
                            <div class="col-md-3">FILE NO : <b>{{ patient.mrn }}</b></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-3">Company: <b>{{ patient.company }}</b></div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
     <!-- Patient Visit Card -->
     <div class="row justify-content-center mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    {% if visit %}
                        Edit Patient Visit
                    {% else %}
                        Add Patient Visit
                    {% endif %}
                </div>
                <div class="card-body">
                    <form method="post" action="{% if visit %}{% url 'kahama_save_patient_visit_edit' patient.id visit.id %}{% else %}{% url 'kahama_save_patient_visit_save' patient.id %}{% endif %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="visit_type">Visit Type</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="visit_type" name="visit_type" required>
                                        <option value=""></option>
                                        <option value="Normal" {% if visit and visit.visit_type == 'Normal' %} selected {% endif %}>Normal</option>
                                        <option value="Emergency" {% if visit and visit.visit_type == 'Emergency' %} selected {% endif %}>Emergency</option>
                                        <option value="Follow up" {% if visit and visit.visit_type == 'Follow up' %} selected {% endif %}>Follow up</option>
                                        <option value="Trauma" {% if visit and visit.visit_type == 'Trauma' %} selected {% endif %}>Trauma</option>
                                        <option value="Pregnancy" {% if visit and visit.visit_type == 'Pregnancy' %} selected {% endif %}>Pregnancy</option>
                                        <option value="Psych" {% if visit and visit.visit_type == 'Psych' %} selected {% endif %}>Psych</option>
                                        <option value="Medical/Surgery" {% if visit and visit.visit_type == 'Medical/Surgery' %} selected {% endif %}>Medical/Surgery</option>
                                        <option value="Pediatric" {% if visit and visit.visit_type == 'Pediatric' %} selected {% endif %}>Pediatric</option>
                                        <option value="Follow UP" {% if visit and visit.visit_type == 'Follow UP' %} selected {% endif %}>Follow UP</option>
                                        <option value="DOA" {% if visit and visit.visit_type == 'DOA' %} selected {% endif %}>DOA</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Consultation:</label>
                                    <input type="text" class="form-control" id="primary_service" name="primary_service" value="{% if visit %}{{ visit.primary_service }}{% else %}Consultation{% endif %}" readonly>
                                </div>
                            </div>
                        </div>
                        
                        {% if visit %}
                            <input type="hidden" name="visit_id" value="{{ visit.id }}">
                        {% endif %}
                        {% if visit %}
                        {% if visit.data_recorder == request.user.staff %}
                        <button type="submit" class="btn btn-primary btn-block">Save to continue</button>
                        {% endif %}
                        {% else %}
                        <button type="submit" class="btn btn-primary btn-block">Save to continue</button>
                        {% endif %}
                       
                    
                    </form>
                </div>
                <div class="card-footer">
                    <div class="form-row">
                        <div>
                            {% if messages %}
                                <div class="col-12">
                                    {% for message in messages %}
                                        {% if message.tags == 'error' %}
                                            <div class="alert alert-danger">{{ message }}</div>
                                        {% elif message.tags == 'success' %}
                                            <div class="alert alert-primary">{{ message }}</div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 

        
        
    </div>

    
 {% include 'kahama_template/datatable.html' %}     
{% endblock main_content %}
