{% extends 'kahama_template/base_template.html' %}
{% block title %}
Select Year and Month for Report
{% endblock title %}
{% block page_title %}
Select Year and Month for Report
{% endblock page_title %}

{% block main_content %}
{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form method="post" enctype="multipart/form-data" action="{% url 'kahama_generate_year_month_report' %}">
                {% csrf_token %}
                <div class="card-body">
                    {{ form.non_field_errors }}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.year.id_for_label }}">{{ form.year.label }}</label>
                                {{ form.year }}
                                {% if form.year.errors %}
                                    <div class="invalid-feedback d-block">
                                        {{ form.year.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.month.id_for_label }}">{{ form.month.label }}</label>
                                {{ form.month }}
                                {% if form.month.errors %}
                                    <div class="invalid-feedback d-block">
                                        {{ form.month.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div> <!-- End of Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary btn-block">Generate Report</button>
                        </div>
                    </div>
                </div>  
            </form>
        </div>       
    </div>
</div>
{% endblock main_content %}
