{% extends 'kahama_template/base_template.html' %}
{% block title %}
Discharge Notes
{% endblock title %}

{% block breadcrumb %}
{% include "kahama_template/modal_form.html" %}
{% endblock breadcrumb %}

{% block main_content %}
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="header-title text-center mt-0 mb-1 text-uppercase">All Discharge Notes</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
                            <thead>
                                <tr>
                                    <th>Patient</th>                                                
                                    <th>Discharge Condition</th>                              
                                    <th>Data Recorder</th>                              
                                    <th>Date</th>                            
                                    <th>Time</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for discharge_note in discharge_notes %}
                                <tr>
                                    <td>{{ discharge_note.patient }}</td>                                                     
                                    <td>{{ discharge_note.discharge_condition }}</td>
                                    <td>
                                        <b style="color: blue;" class="text-capitalize">
                                            {% if discharge_note.data_recorder.role == "doctor" %}Dr.{% else %}{{ discharge_note.data_recorder.role }}{% endif %}
                                        </b> 
                                         <span class="text-muted">{{ discharge_note.data_recorder }}</span>
                                    </td>                          
                                    <td>{{ discharge_note.discharge_date|date:"d-m-Y" }}</td>                          
                                    <td>{{ discharge_note.discharge_date|date:"H:i" }}</td>
                                    <td>
                                        <a href="{% url 'kahama_save_remote_discharges_notes' discharge_note.patient.id discharge_note.visit.id %}" class="btn btn-info">View</a>
                                        <a href="{% url 'kahama_discharge_details_view' discharge_note.patient.id discharge_note.visit.id %}" class="btn btn-primary">View discharge</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>                   
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

{% include 'kahama_template/datatable.html' %}   

{% endblock main_content %}
