{% extends 'kahama_template/base_template.html' %}

{% block title %}
   All patient
{% endblock title %}
{% block breadcrumb %}
{% include "kahama_template/modal_form.html" %}
<a class="btn btn-primary float-right" href="{% url 'kahama_patient_info_form' %}">
    <i class="fas fa-plus"></i> New patient
</a>

{% endblock breadcrumb %}

{% load static %}
{% block main_content %}       

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6  class="header-title text-center mt-0 mb-1  text-uppercase">   List of all patients </h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm  display" id="example"  style="width:100%">
                            <thead>
                                <tr>
                                    <th>MRN</th>
                                    <th>Name</th>           
                                    <th>Gender</th>
                                    <th>Age</th>
                                    <th>Company</th>
                                    <th>Phone</th>
                                    <th>Patient Type</th>  
                                    <th>Data recorder</th>
                                    <th>Created At</th>                                             
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="student-table-body">
                                {% for patient in patients %}
                                <tr>
                                    <td>{{ patient.mrn }}</td>
                                    <td>{{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }}</td>                
                                    <td>{{ patient.gender }}</td>
                                    <td>DOB: {{ patient.dob|date:'Y-m-d' }} [ Age: {% if patient.dob %}
                                        <script>
                                            var dob = new Date("{{ patient.dob|date:'Y-m-d' }}");
                                            var now = new Date();
                                            var ageMilliseconds = now - dob;
                                            var ageSeconds = ageMilliseconds / 1000;
                                            var ageYears = Math.floor(ageSeconds / (365.25 * 24 * 60 * 60));
                                            document.write(ageYears + ' years');
                                        </script>
                                        {% else %}
                                        {{ patient.age }}
                                        {% endif %}]</b></td>
                                    <td>{{ patient.company }}</td>
                                    <td>{{ patient.phone }}</td>                                               
                                    <td>{{ patient.patient_type }}</td> 
                                    <td>
                                        <b style="color: blue;" class="text-uppercase">{{ patient.data_recorder.role }}</b> 
                                        <span class="text-muted">{{ patient.data_recorder }}</span>
                                    </td> 
                                    <td>{{ patient.created_at }}</td>   
                                               
                                     <td class="text-center">                                      
                                        {% if patient.data_recorder == request.user.staff %}
                                        <a href="{% url 'kahama_patient_info_form_edit' patient_id=patient.id %}" data-toggle="tooltip" title="Edit patient">
                                            <button type="button" class="btn btn-secondary btn-sm">
                                                <i class="fa fa-edit text-white"></i> Edit
                                            </button>
                                        </a>
                                    {% endif %}                                  
                                                    <!-- Add more action links as needed -->
                                        <a href="{% url 'kahama_patient_visit_history_view' patient.id %}" data-toggle="tooltip" title="open visit History">
                                            <button type="button" class="btn btn-success btn-sm"><i class="fa fa-eye text-dark"></i>visit History</button>
                                        </a>                                     
                                       </td>                                
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>



{% include 'kahama_template/datatable.html' %}
{% endblock main_content %}
