 {% extends 'kahama_template/base_template.html' %}
 {% load static %}
{% block title %}
{{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }} prescription   
{% endblock title %}
{% block page_title %}
<a class="btn btn-primary" type="button"  href="{% url 'kahama_save_remotesconsultation_notes_next' patient.id visit.id %}" class="breadcrumb-link">
    <i class="fas fa-arrow-left"></i> Back
</a>
{% if prescriptions %}
    <a class="btn btn-success breadcrumb-link" type="button" 
    href="{% url 'kahama_save_remotesconsultation_notes' patient.id visit.id %} ">
    <i class="fas fa-arrow-right"></i> Forward
    </a>
{% endif %}
{% endblock page_title %}
{% block breadcrumb %}
{% include "kahama_template/modal_form.html" %}


{% endblock breadcrumb %}
{% block main_content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-primary-600">
                    <h6 class="card-title text-center text-uppercase">Patient Prescription</h6>
                </div>
                <div class="card-body  text-uppercase">
                    <div class="row">
                        <div class="col-md-3">
                            PATIENT:  <b>{{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }}</b>
                        </div>
                        <div class="col-md-3">
                            DOB: <b>{{ patient.dob|date:'Y-m-d' }} [ Age: {% if patient.dob %}
                            <script>
                                var dob = new Date("{{ patient.dob|date:'Y-m-d' }}");
                                var now = new Date();
                                var ageMilliseconds = now - dob;
                                var ageSeconds = ageMilliseconds / 1000;
                                var ageYears = Math.floor(ageSeconds / (365.25 * 24 * 60 * 60));
                                document.write(ageYears + ' years');
                            </script>
                            {% else %}
                            {{ patient.age }}
                            {% endif %}]</b>
                        </div>
                        <div class="col-md-3  text-uppercase">
                            SEX:  <b>{{ patient.gender }}</b>
                        </div>
                        <div class="col-md-3">
                            FILE NO:   <b>{{ patient.mrn }}</b>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            Company:   <b>{{ patient.company }}</b>
                        </div>
                        <div class="col-md-3">
                            Visit number:    <b>{{ visit.vst }}</b>
                        </div>
                    </div>
                    <br />                  
                   
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-primary-600">
                    <h6 class="card-title text-center text-uppercase">Diagnosis</h6>
                </div>
                <div class="card-body">
                    {% for note in consultation_notes %}
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm  display"  style="width:100%">
                            <tbody>
                                <tr>
                                    <th>Preliminary Diagnosis</th>
                                    <th>Final Diagnosis</th>
                                </tr>
                                <tr>
                                    <td>
                                        <ul class="list-group">
                                            {% for diagnosis in note.provisional_diagnosis.all %}
                                            <li class="list-group-item">{{ diagnosis}}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>
                                        <ul class="list-group">
                                            {% for diagnosis in note.final_diagnosis.all %}
                                            <li class="list-group-item">{{ diagnosis}}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>        
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="header-title  mt-0 mb-1 text-uppercase"> Add Prescription </h6>
                           
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#organizationModal">
                                <i class="fas fa-eye-slash"></i> view prescription
                            </a>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <form id="addPrescriptionForm{{ visit.id }}" method="post">
                        {% csrf_token %}
                        <div class="table-responsive">
                            <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm display" id="prescriptionTable{{ visit.id }}">
                                <thead>
                                    <tr>
                                        <th>Drug</th>
                                        <th>Unit/Formulation</th>
                                        <th>Dose</th>
                                        <th>Frequency</th>
                                        <th>Duration</th>
                                        <th>Quantity</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <select class="form-control select2bs4 medicine-select" style="width: 100%;" id="medicine" name="medicine[]" required>
                                                <option value="">Select Medicine</option>
                                                {% for medicine in medicines %}
                                                    <option value="{{ medicine.id }}">{{ medicine.drug_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input type="text" class="form-control formulation_unit" name="formulation" value="1"></td>
                                        <td><input type="text" class="form-control dose-input" name="dose[]" value="1"></td>
                                        <td>
                                            <select class="form-control select2bs4 frequency-select" style="width: 100%;" id="frequency" name="frequency[]">
                                                <option value="">Select Frequency</option>
                                                {% for frequency in frequencies %}
                                                    <option value="{{ frequency.id }}">{{ frequency.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control select2bs4 duration-select" style="width: 100%;" id="duration" name="duration[]">
                                                {% for rate in range_31 %}
                                                    <option value="{{ rate }}">{{ rate }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input type="text" class="form-control quantity-input" name="quantity[]" value="1"></td>
                                        <td><button type="button" class="btn btn-danger delete-row">Delete</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                
                        <div class="row">
                            <div class="col-md-12">
                                <div id="PrescriptionResponse{{ visit.id }}"></div>
                            </div>
                        </div>
                        <!-- Hidden inputs for visit and patient IDs -->
                        <input type="hidden" class="form-control" id="visit_id{{ visit.id }}" name="visit_id" value="{{ visit.id }}">
                        <input type="hidden" class="form-control" id="patient_id{{ visit.id }}" name="patient_id" value="{{ patient.id }}">
                
                        <!-- Add Row and Save Prescription buttons -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="button" class="btn btn-info btn-block" id="addRow{{ visit.id }}"><i class="fa fa-plus-square" aria-hidden="true"></i> Add Prescription</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Date</label>
                                    <input type="date" class="form-control total-cost" name="order_date" id="orderDate">
                                </div>
                                <script>
                                    // Set the input field to today's date
                                    const currentDate = new Date().toISOString().split('T')[0];
                                    document.getElementById('orderDate').value = currentDate;
                                </script>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Save Prescriptions</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            // Cache preloaded data for medicines and frequencies to avoid redundant AJAX calls
            let medicineData = {};
            let frequencyData = {};
        
            // Preload medicine and frequency data
            preloadData();
        
            // Add event listeners for dynamic table rows
            $('#addRow{{ visit.id }}').click(() => addRow('#prescriptionTable{{ visit.id }} tbody'));
            $(document).on('click', '.delete-row', deleteRow);
            $(document).on('change', '.medicine-select, .frequency-select, .duration-select, .dose-input', function () {
                updateRowQuantity($(this).closest('tr'));
            });
        
            // Add event listener for medicine selection change to update formulation unit
            $(document).on('change', '.medicine-select', function () {
                var medicineId = $(this).val();
                var formulationField = $(this).closest('tr').find('.formulation_unit');
        
                if (medicineData[medicineId]) {
                    formulationField.val(medicineData[medicineId].formulation_unit || '');
                }
            });
        
            // Preload medicine and frequency data
            function preloadData() {
                // Preload medicine data
                $.ajax({
                    url: '{% url "kahama_get_all_medicine_data" %}',
                    method: 'GET',
                    success: function (response) {
                        medicineData = response;
                    },
                    error: function () {
                        console.error('Error fetching medicine data');
                    },
                });
        
                // Preload frequency data
                $.ajax({
                    url: '{% url "kahama_get_all_frequency_data" %}',
                    method: 'GET',
                    success: function (response) {
                        frequencyData = response;
                    },
                    error: function () {
                        console.error('Error fetching frequency data');
                    },
                });
            }
        
            // Add a new row to the prescription table
            function addRow(tbodySelector) {
                const newRow = `
                    <tr>
                        <td>
                            <select class="form-control select2bs4 medicine-select" name="medicine[]" required>
                                <option value="">Select Medicine</option>
                                ${Object.entries(medicineData).map(([id, data]) => `<option value="${id}">${data.drug_name}</option>`).join('')}
                            </select>
                        </td>
                        <td><input type="text" class="form-control formulation_unit" name="formulation" value="1"></td>
                        <td><input type="text" class="form-control dose-input" name="dose[]" value="1"></td>
                        <td>
                            <select class="form-control select2bs4 frequency-select" name="frequency[]" required>
                                <option value="">Select Frequency</option>
                                ${Object.entries(frequencyData).map(([id, data]) => `<option value="${id}">${data.name}</option>`).join('')}
                            </select>
                        </td>
                        <td>
                            <select class="form-control select2bs4 duration-select" name="duration[]">
                                ${Array.from({ length: 31 }, (_, i) => `<option value="${i + 1}">${i + 1}</option>`).join('')}
                            </select>
                        </td>
                        <td><input type="text" class="form-control quantity-input" name="quantity[]" value="1"></td>
                        <td><button type="button" class="btn btn-danger delete-row">Delete</button></td>
                    </tr>`;
        
                $(tbodySelector).append(newRow);
        
                // Re-initialize Select2 for dynamically added elements
                $('.select2bs4').select2({
                    theme: 'bootstrap4',
                    width: '100%',
                });
            }
        
            // Delete a row
            function deleteRow() {
                $(this).closest('tr').remove();
            }
        
            // Update quantity for a specific row
            function updateRowQuantity(row) {
                const medicineId = row.find('.medicine-select').val();
                const frequencyId = row.find('.frequency-select').val();
                const duration = parseInt(row.find('.duration-select').val()) || 0;
                const dose = parseFloat(row.find('.dose-input').val()) || 1;
        
                let quantity = 1;
        
                if (frequencyData[frequencyId] && medicineData[medicineId]) {
                    const frequencyName = frequencyData[frequencyId].name;
                    const dividable = medicineData[medicineId].dividable;
                    const formulationUnit = parseFloat(medicineData[medicineId].formulation_unit) || 1;
        
                    if (frequencyName === 'PRN' || dividable === 'false') {
                        quantity = parseFloat(row.find('.quantity-input').val()) || 0;
                    } else {
                        const adjustedDose = dose / formulationUnit;
                        quantity = Math.ceil(calculateTabletQuantity(frequencyName, duration, adjustedDose));
                    }
                }
        
                row.find('.quantity-input').val(quantity);
            }
        
            // Calculate tablet quantity
            function calculateTabletQuantity(frequency, duration, dose) {
                const frequencyMap = {
                    'OD': 1,
                    'I.C': 1,
                    'STAT': 1,
                    'QID': 4,
                    'TID': 3,
                    'BID': 2,
                };
        
                return frequencyMap[frequency] ? duration * frequencyMap[frequency] * dose : dose;
            }
        
            // Validate and submit the prescription form
            $('#addPrescriptionForm{{ visit.id }}').submit(function (event) {
                event.preventDefault();
        
                let isValid = true;
                let errorMessage = '';
        
                $('#prescriptionTable{{ visit.id }} tbody tr').each(function () {
                    const row = $(this);
                    const medicine = row.find('.medicine-select').val();
                    const frequency = row.find('.frequency-select').val();
                    const quantity = row.find('.quantity-input').val();
        
                    if (!medicine) {
                        isValid = false;
                        errorMessage = 'Please select a medicine for each row.';
                        return false;
                    }
        
                    if (!frequency) {
                        isValid = false;
                        errorMessage = 'Please select a frequency for each row.';
                        return false;
                    }
        
                    if (!Number.isInteger(parseFloat(quantity)) || parseFloat(quantity) <= 0) {
                        isValid = false;
                        errorMessage = 'Quantity must be a positive whole number.';
                        return false;
                    }
                });
        
                if (!isValid) {
                    $('#PrescriptionResponse{{ visit.id }}').html('<div class="alert alert-danger">' + errorMessage + '</div>');
                } else {
                    savePrescriptions();
                }
            });
        
            // Save prescriptions via AJAX
            function savePrescriptions() {
                $.ajax({
                    type: 'POST',
                    url: '{% url "kahama_add_remoteprescription" %}',
                    data: $('#addPrescriptionForm{{ visit.id }}').serialize(),
                    success: function (response) {
                        if (response.status === 'success') {
                            $('#PrescriptionResponse{{ visit.id }}').html('<div class="alert alert-success">' + response.message + '</div>');
                            window.location.href = '{% url "kahama_save_remotesconsultation_notes" patient.id visit.id %}';
                        } else {
                            $('#PrescriptionResponse{{ visit.id }}').html('<div class="alert alert-danger">' + response.message + '</div>');
                        }
                    },
                    error: function (xhr) {
                        $('#PrescriptionResponse{{ visit.id }}').html('<div class="alert alert-danger">' + xhr.responseText + '</div>');
                    },
                });
            }
        });
        
        
    </script>   

    

</div>



<div class="modal fade" id="organizationModal" tabindex="-1" aria-labelledby="organizationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="organizationModalLabel">RESA Medical Centre Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Header Section -->
                <div class="container-fluid">
                    <header class="header">
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td class="mx-3">
                                                <img src="{% static 'dist/img/resalogo.png' %}" alt="Company Logo" class="company-logo">
                                            </td>
                                            <td class="text-white">
                                                <h1>RESA MEDICAL CENTRE</h1>
                                                <p>Polyclinic and EMS Care</p>
                                                <p>P.O.BOX 54235</p>
                                                <p>Silver Sands Road, Plot 45, Block A, House No. 45 Kunduchi, Kinondoni, Dar es Saalam</p>
                                                <p>info@resahmis.co.tz</p>
                                                <p>Tel: 255 657 008 008</p>
                                                <p><a href="" class="text-white">resahmis.co.tz/</a></p>
                                                <p class="mt-2" style="font-family: ;">Part of RESA Medical Group</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </header>
                </div>

                <!-- Patient Details Section -->
                <div class="container-fluid py-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="card patient-details-card">
                                <div class="card-header bg-dark text-white">
                                    <h2 class="card-title">Patient Details</h2>
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th>Patient:</th>
                                                <td>{{ patient.first_name }} {{ patient.middle_name }} {{ patient.last_name }}</td>
                                                <th>MRN:</th>
                                                <td>{{ patient.mrn }}</td>
                                                <th>Visit Number:</th>
                                                <td>{{ visit.vst }}</td>
                                            </tr>
                                            <tr>
                                                <th>Age:</th>
                                                <td>{{ patient.age }}</td>
                                                <th>Gender:</th>
                                                <td>{{ patient.gender }}</td>
                                                <th>Company:</th>
                                                <td>{{ patient.company }}</td>
                                            </tr>
                                            <tr>
                                                <th>Phone:</th>
                                                <td>{{ patient.phone }}</td>
                                                <th>Visit Date:</th>
                                                <td>{{ visit.created_at }}</td>
                                                <th>Visit Day:</th>
                                                <td>{{ visit.created_at|date:"l" }} at {{ visit.created_at|time:"H:i" }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Previous Prescription Section -->
                <div class="container-fluid py-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="card patient-details-card">
                                <div class="card-header bg-dark text-white">
                                    <h2 class="card-title">Prescription Details</h2>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm display">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Time</th>
                                                    <th>Day</th>                                   
                                                    <th>Drug name</th>
                                                    <th>Dose</th>
                                                    <th>Frequency</th>
                                                    <th>Duration</th>
                                                    <th>Quantity Used</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for prescription in prescriptions %}
                                                    <tr>
                                                        <td>{{ prescription.created_at.date|date:"d/m/Y" }}</td>
                                                        <td>{{ prescription.created_at.time }}</td>
                                                        <td>{{ prescription.created_at|date:"l" }}</td>                                       
                                                        <td>{{ prescription.medicine }}</td>
                                                        <td>{{ prescription.dose }}</td>
                                                        <td>{{ prescription.frequency }}</td>
                                                        <td>{{ prescription.duration }}</td>
                                                        <td>{{ prescription.quantity_used }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
                  <!-- Prescribing Doctor Section -->
                  <div class="container-fluid py-1">
                    <div class="row">
                        <div class="col-12">
                            <div class="card patient-details-card">
                                <div class="card-header bg-dark text-white">
                                    <h2 class="card-title">Name of Dr. Prescribing</h2>
                                </div>
                                <div class="card-body">
                                    <p>Dr. {{ prescriptions.first.entered_by }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>      
           
           </div>
        </div>
    </div>
</div>


<style>
    body {
          font-family: Arial, sans-serif;
      }
    /* CSS for the company logo */
.company-logo {
  max-width: 120px;
  height: 120px;
  border-radius: 50%;
}

/* Additional styling for the header */
.header {
  background-color: #344; /* Adjust background color to match the logo */
  color: #fff;
  padding: 20px;
}

.header h1 {
  margin: 0;
  font-size: 24px;
  color: #fff; /* Set text color for consistency */
}

.header p {
  margin-bottom: 0;
}

.header a {
  color: #fff;
}

.header-info {
  font-size: 14px; /* Adjust font size for header info */
  margin-bottom: 5px; /* Add some bottom margin for spacing */
}
       /* Specific Styles for Cards */
  .patient-details-card {
      margin-bottom: 20px;
  }

  .clinical-notes-card {
      margin-bottom: 20px;
  }

  .prescription-details-card {
      margin-bottom: 20px;
  }

  .assessment-data-card {
      margin-bottom: 20px;
  }
</style>



 

{% include 'kahama_template/datatable.html' %}
    

{% endblock main_content %}
