{% extends 'kahama_template/base_template.html' %}
{% load static %}
{% block title %}
{{ patient.first_name }} {{ patient.middle_name }} {{ patient.last_name }} procedure   
{% endblock title %}
{% block page_title %}
<a class="btn btn-primary" type="button"  href="{% url 'kahama_save_remotesconsultation_notes_next' patient.id visit.id %}" class="breadcrumb-link">
    <i class="fas fa-arrow-left"></i> Back
</a>
{% if previous_procedures %}
    <a class="btn btn-success breadcrumb-link" type="button" 
    href="{% url 'kahama_save_remotesconsultation_notes' patient.id visit.id %} ">
    <i class="fas fa-arrow-right"></i> Forward
    </a>
{% endif %}
{% endblock page_title %}
{% block breadcrumb %}
{% include "kahama_template/modal_form.html" %}
Patient Procedure
{% endblock breadcrumb %}
{% block main_content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">              
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header bg-primary-600">
                                    <h6 class="card-title text-center text-uppercase">Procedure</h6>
                                </div>
                                <div class="card-body">
                                    <div class="card">
                                        <div class="card-header">
                                            <label for="chief_complaints">Patient Information</label>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <b>PATIENT:</b> {{ patient.first_name }} {{ patient.middle_name }} {{ patient.last_name }}
                                                </div>
                                                <div class="col-md-3">
                                                    <b>DOB:</b> {{ patient.dob|date:'Y-m-d' }} [ Age: {% if patient.dob %}
                                                    <script>
                                                        var dob = new Date("{{ patient.dob|date:'Y-m-d' }}");
                                                        var now = new Date();
                                                        var ageMilliseconds = now - dob;
                                                        var ageSeconds = ageMilliseconds / 1000;
                                                        var ageYears = Math.floor(ageSeconds / (365.25 * 24 * 60 * 60));
                                                        document.write(ageYears + ' years');
                                                    </script>
                                                    {% else %}
                                                    {{ patient.age }}
                                                    {% endif %}]
                                                </div>
                                                <div class="col-md-3">
                                                    <b>SEX:</b> {{ patient.gender }}
                                                </div>
                                                <div class="col-md-3">
                                                    <b>FILE NO:</b> {{ patient.mrn }}
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <b>Company:</b> {{ patient.company }}
                                                </div>
                                                <div class="col-md-3">
                                                    <b>Visit Number:</b> {{ visit.vst }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />                   
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-primary-600">
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="card-title text-center text-uppercase">Diagnosis</h6>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#previousProceduresModal">
                                <i class="fas fa-eye"></i>  View Previous Procedures
                            </a>
                        </div>
                    </div>
                   
                </div>
                <div class="card-body">
                    {% for note in consultation_notes %}
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm  display"  style="width:100%">
                            <tbody>
                                <tr>
                                    <th>Preliminary Diagnosis</th>
                                    <th>Final Diagnosis</th>
                                </tr>
                                <tr>
                                    <td>
                                        <ul class="list-group">
                                            {% for diagnosis in note.provisional_diagnosis.all %}
                                            <li class="list-group-item">{{ diagnosis}}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>
                                        <ul class="list-group">
                                            {% for diagnosis in note.final_diagnosis.all %}
                                            <li class="list-group-item">{{ diagnosis}}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>        
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="header-title text-center mt-0 mb-1 text-uppercase">New Procedure</h6>
                </div>
                <div class="card-body">
                    <!-- Form for adding a new procedure -->
                    <form id="addProcedureForm" method="post" action="{% url "kahama_save_remoteprocedure" patient.id visit.id %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="table-responsive">
                            <!-- Table to display procedure details -->
                            <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm display" id="procedureTable{{ visit.id }}">
                                <thead>
                                    <tr>
                                        <th>Procedure Name</th>
                                        <th>Description (if any)</th>
                                        <th>Image</th> <!-- New column for image upload -->
                                        <th></th> <!-- Column for delete button -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Row for adding a new procedure -->
                                    <tr>
                                        <td>
                                            <!-- Dropdown to select procedure name -->
                                            <select class="form-control select2bs4 procedure-name" style="width: 100%;" name="name[]" required>
                                                <option value="">Select Procedure</option>
                                                {% for procedure in procedures %}
                                                    <option value="{{ procedure.id }}">{{ procedure.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <!-- Textarea for procedure description -->
                                            <textarea class="form-control description" name="description[]" placeholder="Enter procedure description" rows="5" required></textarea>
                                        </td>
                                        <td>
                                            <!-- File input for image upload -->
                                            <input type="file" class="form-control-file" name="image[]" accept="image/*">
                                        </td>
                                        <td>
                                            <!-- Button to delete this row -->
                                            <button type="button" class="btn btn-danger delete-row">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>                      
                        <div class="form-group mt-3">
                            <button type="button" class="btn btn-info btn-block" id="addRow{{ visit.id }}"><i class="fa fa-plus-square" aria-hidden="true"></i> Add Procedure</button>
                        </div>
                        <!-- Button to submit the form -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Save to proceed</button>
                        </div>
                    </form>
                </div>
                <!-- Card footer to display messages -->
                <div class="card-footer">
                    {% if messages %}
                        <div class="row">
                            <div class="col-12">
                                {% for message in messages %}
                                    {% if message.tags == 'error' %}
                                        <div class="alert alert-danger">{{ message }}</div>
                                    {% elif message.tags == 'success' %}
                                        <div class="alert alert-primary">{{ message }}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            // Add row button functionality
            $('#addRow{{ visit.id }}').click(function() {
                var newRow = `
                    <tr>
                        <td>
                            <select class="form-control select2bs4 procedure-name" style="width: 100%;" name="name[]" required>
                                <option value="">Select Procedure</option>
                                {% for procedure in procedures %}
                                    <option value="{{ procedure.id }}">{{ procedure.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>                           
                            <textarea class="form-control description" name="description[]" placeholder="Enter procedure description" rows="5" required></textarea>
                        </td>
                        <td>
                            <input type="file" class="form-control-file" name="image[]" accept="image/*">
                        </td>
                        <td><button type="button" class="btn btn-danger delete-row">Delete</button></td>
                    </tr>`;
                // Append new row to the table body
                $('#procedureTable{{ visit.id }} tbody').append(newRow);
    
                // Re-initialize Select2 for the newly added select elements
                $('.select2bs4').select2({
                    theme: 'bootstrap4',
                    width: '100%'
                });
            });
    
            // Delete row button functionality
            $(document).on('click', '.delete-row', function() {
                $(this).closest('tr').remove();
            });
        });
    </script>
    
    
    
</div>

<div class="modal fade" id="previousProceduresModal" tabindex="-1" role="dialog" aria-labelledby="previousProceduresModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="previousProceduresModalLabel">RESA Medical Centre Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Header Section -->
                <div class="container-fluid">
                    <header class="header">
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td class="mx-3">
                                                <img src="{% static 'dist/img/resalogo.png' %}" alt="Company Logo" class="company-logo">
                                            </td>
                                            <td class="text-white">
                                                <h1>RESA MEDICAL CENTRE</h1>
                                                <p>Polyclinic and EMS Care</p>
                                                <p>P.O.BOX 54235</p>
                                                <p>Silver Sands Road, Plot 45, Block A, House No. 45 Kunduchi, Kinondoni, Dar es Saalam</p>
                                                <p>info@resahmis.co.tz</p>
                                                <p>Tel: 255 657 008 008</p>
                                                <p><a href="" class="text-white">resahmis.co.tz/</a></p>
                                                <p class="mt-2" style="font-family: ;">Part of RESA Medical Group</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </header>
                </div>

                <!-- Patient Details Section -->
                <div class="container-fluid py-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="card patient-details-card">
                                <div class="card-header bg-dark text-white">
                                    <h2 class="card-title">Patient Details</h2>
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th>Patient:</th>
                                                <td>{{ patient.first_name }} {{ patient.middle_name }} {{ patient.last_name }}</td>
                                                <th>MRN:</th>
                                                <td>{{ patient.mrn }}</td>
                                                <th>Visit Number:</th>
                                                <td>{{ visit.vst }}</td>
                                            </tr>
                                            <tr>
                                                <th>Age:</th>
                                                <td>{{ patient.age }}</td>
                                                <th>Gender:</th>
                                                <td>{{ patient.gender }}</td>
                                                <th>Company:</th>
                                                <td>{{ patient.company }}</td>
                                            </tr>
                                            <tr>
                                                <th>Phone:</th>
                                                <td>{{ patient.phone }}</td>
                                                <th>Visit Date:</th>
                                                <td>{{ visit.created_at }}</td>
                                                <th>Visit Day:</th>
                                                <td>{{ visit.created_at|date:"l" }} at {{ visit.created_at|time:"H:i" }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Previous Procedures Section -->
                <div class="container-fluid py-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="card patient-details-card">
                                <div class="card-header bg-dark text-white">
                                    <h2 class="card-title">Procedures details</h2>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm display">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Time</th>
                                                    <th>Day</th>
                                                    <th>Procedure Name</th>
                                                    <th>Description</th>
                                                    <th>Image</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for procedure in previous_procedures %}
                                                    <tr>
                                                        <td>{{ procedure.created_at.date|date:"d/m/Y" }}</td>
                                                        <td>{{ procedure.created_at.time }}</td>
                                                        <td>{{ procedure.created_at|date:"l" }}</td>
                                                        <td>{{ procedure.name }}</td>
                                                        <td style="word-wrap: break-word;">{{ procedure.description }}</td>
                                                        <td>
                                                            {% if procedure.image %}
                                                                <img class="procedure-image" src="{{ procedure.image.url }}" alt="Procedure Image" style="max-width: 100px;">
                                                            {% else %}
                                                                No Image Available
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


  
{% include 'kahama_template/datatable.html' %}    

{% endblock main_content %}
