{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <img src="{% static 'img/resalogo_square.png' %}" 
    alt="RESA LOGO" 
    class="img-circle shadow-lg"
    style="
      width: 50px; 
      height: 50px; 
      object-fit: cover; 
      border-radius: 50%; 
      border: 4px solid #ffffff;
      background-color: #ffffff;
    ">
    <span class="brand-text font-weight-light">Resa Clinic</span>
</a>

<style>
    .img-circle {
        border-radius: 0%; /* Ensures a circular image */
        width: 90px;       /* Adjust the size as needed */
        height: 90px;      /* Ensure a perfect circle */
    }
    .brand-link {
        display: flex;        /* Aligns image and text horizontally */
        align-items: center;  /* Centers image and text vertically */
        text-decoration: none; /* Removes underline */
        color: inherit;       /* Keeps default text color */
    }
    .brand-image {
        margin-right: 10px;  /* Space between image and text */
        opacity: 0.8;        /* Adjust image transparency */
    }
    .brand-text {
        font-weight: lighter; /* Customizes font weight */
        font-size: 1.2rem;    /* Adjust font size */
    }
    .user-panel .image img {
        width: 50px; /* Adjust size as needed */
        height: 50px; /* Make sure width and height are equal */
        object-fit: cover; /* Ensures the image fits well */
        border-radius: 50%; /* Makes the image circular */
        border: 2px solid white; /* Optional border */
    }
    
</style>

<div class="sidebar"> 
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">   
        {% if user.staff.id %}
            <div class="image">
                {% if user.staff.profile_picture %}
                    <img src="{{ user.staff.profile_picture.url }}" class="img-circle elevation-2" alt="User Image">
                {% else %}
                    <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
                {% endif %}
            </div>
            <div class="info">
                {% url 'kahama_edit_staff_profile' user.staff.id as edit_staff_profile %}
                <a href="{{ edit_staff_profile }}" class="d-block">{{ user.username }}</a>                 
            </div>      
        {% else %}
            <!-- If the user does not have a staff ID -->
            <div class="image">           
                <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">          
            </div>
            <div class="info">
                <span class="d-block text-white font-weight-bold">{{ user.username }}</span>            
            </div>      
        {% endif %}
    </div>
    
      <!-- Sidebar Menu -->
      <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- Home Section -->
              <li class="nav-item">
                  {% url 'kahama_dashboard' as dashboard_url %}
                  <a href="{{ dashboard_url }}" class="nav-link {% if request.path == dashboard_url %} active {% endif %}">
                      <i class="nav-icon fas fa-th"></i>
                      <p>HOME</p>
                  </a>
              </li> 

              <!-- Clinic Section -->
              <li class="nav-item has-treeview">
                  <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-hospital"></i>
                      <p>Clinic <i class="fas fa-angle-left right"></i></p>
                  </a>
                  <ul class="nav nav-treeview">                    
                      <li class="nav-item">
                        {% url 'kahama_prescription_list' as prescription_list_url %}
                        <a href="{{ prescription_list_url }}" class="nav-link{% if request.path == prescription_list_url %} active {% endif %}">
                            <i class="nav-icon fas fa-prescription-bottle"></i>
                            <p>Prescriptions</p>
                        </a>
                    </li>
                      <li class="nav-item">
                        {% url 'kahama_patients_list' as patients_list_url %}
                          <a href="{{ patients_list_url }}" class="nav-link{% if request.path == patients_list_url %} active {% endif %}">
                              <i class="nav-icon fas fa-users"></i>
                              <p>Patients</p>
                          </a>
                      </li>             
                                 
                      <li class="nav-item">
                        {% url 'kahama_patient_vital_all_list' as patient_vital_all_list_url %}
                        <a href="{{ patient_vital_all_list_url }}" class="nav-link{% if request.path == patient_vital_all_list_url %} active {% endif %}">
                            <i class="nav-icon fas fa-heartbeat"></i>
                            <p>All Vital Signs</p> 
                        </a>
                    </li>                    
                    
                    <li class="nav-item">
                        {% url 'kahama_generate_year_month_report' as generate_comprehensive_report_url %}
                        <a href="{{ generate_comprehensive_report_url }}" class="nav-link{% if request.path == generate_comprehensive_report_url %} active {% endif %}">
                            <i class="nav-icon fas fa-x-ray"></i> <!-- Replace 'fa-x-ray' with the appropriate Font Awesome icon class for radiology -->
                            <p>Comprehensive reports</p> 
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        {% url 'kahama_patient_laboratory_view' as patient_laboratory_view_url %}
                        <a href="{{ patient_laboratory_view_url }}" class="nav-link{% if request.path == patient_laboratory_view_url %} active {% endif %}">
                            <i class="nav-icon fas fa-flask"></i> <!-- Replace 'fa-flask' with the appropriate Font Awesome icon class for laboratory -->
                            <p>Lab Investigation</p> 
                        </a>
                    </li>               
                               
                    <li class="nav-item">
                        {% url 'kahama_patient_procedure_view' as patient_procedure_view_url %}
                          <a href="{{ patient_procedure_view_url }}" class="nav-link{% if request.path == patient_procedure_view_url %} active {% endif %}">
                            <i class="nav-icon fas fa-hospital"></i>
                              <p>Medical Procedure</p>
                          </a>
                      </li>                    
                                        
                   <li class="nav-item">
                        {% url 'kahama_manage_referral' as manage_referral_url %}
                        <a href="{{ manage_referral_url }}" class="nav-link{% if request.path == manage_referral_url %} active {% endif %}">
                            <i class="nav-icon fas fa-handshake"></i>
                            <p>Referral</p>
                        </a>
                    </li>
                   
                  <li class="nav-item">
                        {% url 'kahama_appointment_list' as appointment_list_url %}
                          <a href="{{ appointment_list_url }}" class="nav-link{% if request.path == appointment_list_url %} active {% endif %}">
                            <i class="nav-icon fas fa-calendar"></i>
                              <p>All Appointment</p>
                          </a>
                      </li>
                      <li class="nav-item">
                        {% url 'kahama_counseling_list' as counseling_list_url %}
                        <a href="{{ counseling_list_url }}" class="nav-link{% if request.path == counseling_list_url %} active {% endif %}">
                            <i class="nav-icon fas fa-user-friends"></i>
                            <p>Counseling</p>
                        </a>
                    </li>                     
                    <li class="nav-item">
                        {% url 'kahama_discharge_notes_list' as discharge_notes_list_url %}
                        <a href="{{ discharge_notes_list_url }}" class="nav-link{% if request.path == discharge_notes_list_url %} active {% endif %}">
                            <i class="nav-icon fas fa-notes-medical"></i>
                            <p>Discharge Notes</p>
                        </a>
                    </li>                     
                    <li class="nav-item">
                        {% url 'kahama_observation_record_list' as observation_record_list_url %}
                        <a href="{{ observation_record_list_url }}" class="nav-link{% if request.path == observation_record_list_url %} active {% endif %}">
                            <i class="nav-icon fas fa-stethoscope"></i>
                            <p>Observation Records</p>
                        </a>
                    </li>                   
                      <li class="nav-item">
                        {% url 'kahama_consultation_notes' as consultation_notes_url %}
                          <a href="{{ consultation_notes_url }}" class="nav-link{% if request.path == consultation_notes_url %} active {% endif %}">
                            <i class="nav-icon fas fa-calendar"></i>
                              <p>consultation</p>
                          </a>
                      </li>                     
                  
                      <li class="nav-item">
                        {% url 'kahama_resa_report' as resa_report_url %}
                          <a href="{{ resa_report_url }}" class="nav-link{% if request.path == resa_report_url %} active {% endif %}">
                              <i class="nav-icon fas fa-file-alt"></i>
                              <p>Reports</p>
                          </a>
                      </li>            
                  </ul>
              </li>            
          </ul>
      </nav>
      <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>


