{% extends 'pharmacist_template/base_template.html' %}

{% block title %}
   All medicine
{% endblock title %}

{% block breadcrumb %}
{% include "pharmacist_template/modal_form.html" %}
<a class="btn btn-primary float-right mr-2" type="button" data-toggle="modal" data-target="#addMedicineModal">
    <i class="fas fa-plus"></i> New medicine
</a>
{% endblock breadcrumb %}


{% load static %}
{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6  class="header-title text-center mt-0 mb-1  text-uppercase"> All medicine </h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm  display" id="example"  style="width:100%">
                            <thead>
                                <tr>
                                    <th>Drug Name</th>
                                    <th>Drug Type</th>
                                    <th>Formulation Unit</th>
                                    <th>Manufacturer</th>
                                    <th>Remaining Quantity</th>
                                    <th>Quantity</th>
                                    <th>Dividable</th>
                                    <th>Batch Number</th>
                                    <th>Expiration Date</th>
                                    <th>Cash Cost</th>
                                    <th>Insurance Cost</th>
                                    <th>NHIF Cost</th>
                                    <th>Buying Price</th>
                                    <th>Total Buying Price</th>
                                    <th>Created At</th>
                                    <th>Updated At</th>                           
                                        
                                </tr>
                            </thead>
                            <tbody>
                                {% for medicine in medicines %}
                                    <tr>
                                        <td>{{ medicine.drug_name }}</td>
                                        <td>{{ medicine.drug_type }}</td>
                                        <td>{{ medicine.formulation_unit }}</td>
                                        <td>{{ medicine.manufacturer }}</td>
                                        <td>{{ medicine.remain_quantity }}</td>
                                        <td>{{ medicine.quantity }}</td>
                                        <td>{{ medicine.dividable }}</td>
                                        <td>{{ medicine.batch_number }}</td>
                                        <td>{{ medicine.expiration_date|date:"d-m-Y" }}</td>
                                        <td>{{ medicine.cash_cost }}</td>
                                        <td>{{ medicine.insurance_cost }}</td>
                                        <td>{{ medicine.nhif_cost }}</td>
                                        <td>{{ medicine.buying_price }}</td>
                                        <td>{{ medicine.total_buying_price }}</td>
                                        <td>{{ medicine.created_at|date:"d-m-Y" }}</td>
                                        <td>{{ medicine.updated_at|date:"d-m-Y" }}</td>
                                       
                                    </tr>                                      
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Add Medicine Modal -->
<div class="modal fade" id="addMedicineModal" tabindex="-1" role="dialog" aria-labelledby="addMedicineModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addMedicineModalLabel">Add Medicine</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="addMedicineContainers" class="alert" role="alert"></div>
                <form id="addMedicineForm" method="post">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="drug_name">Drug Name</label>
                                <input type="text" class="form-control" id="drug_name" name="drug_name" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="edit_drug_type">Drug Type</label>
                                <select  class="form-control select2bs4" style="width: 100%;" id="edit_drug_type" name="drug_type" required>
                                    <option value=""></option>
                                    <option value="Tablet">Tablet</option>
                                    <option value="Capsule">Capsule</option>
                                    <option value="Injection">Injection</option>
                                    <option value="Ointment">Ointment</option>
                                    <option value="Drops">Drops</option>
                                    <option value="Inhaler">Inhaler</option>
                                    <option value="Patch">Patch</option>
                                    <option value="Liquid">Liquid</option>
                                    <option value="Cream">Cream</option>
                                    <option value="Gel">Gel</option>
                                    <option value="Suppository">Suppository</option>
                                    <option value="Powder">Powder</option>
                                    <option value="Suspension">Suspension</option>
                                    <option value="Lozenge">Lozenge</option>                     
                                    <!-- Add more options as needed -->
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="formulation_unit">Formulation Unit</label>
                                <input type="text" class="form-control" id="formulation_unit" name="formulation_unit" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="manufacturer">Manufacturer</label>
                                <input type="text" class="form-control" id="manufacturer" name="manufacturer">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="quantity">Quantity</label>
                                <input type="number" class="form-control" id="quantity" name="quantity" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="dividable">Dividable</label>
                                <select  class="form-control select2bs4" style="width: 100%;" id="dividable" name="dividable" required>
                                    <option value=""></option>
                                    <option value="True" {% if medicine.dividable == 'True' %}selected{% endif %}>True</option>
                                    <option value="False" {% if medicine.dividable == 'False' %}selected{% endif %}>False</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="batch_number">Batch Number</label>
                                <input type="text" class="form-control" id="batch_number" name="batch_number" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="expiration_date">Expiration Date</label>
                                <input type="date" class="form-control" id="expiration_date" name="expiration_date" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="buying_price">Buying Price</label>
                                <input type="number" step="0.01" class="form-control" id="buying_price" name="buying_price" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="cash_cost">Cash Cost</label>
                                <input type="number" step="0.01" class="form-control" id="cash_cost" name="cash_cost" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="insurance_cost">Insurance Cost</label>
                                <input type="number" step="0.01" class="form-control" id="insurance_cost" name="insurance_cost" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="nhif_cost">NHIF Cost</label>
                                <input type="number" step="0.01" class="form-control" id="nhif_cost" name="nhif_cost" required>
                            </div>
                        </div>
                    </div>                   
                    <div class="row">                      
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary btn-block" id="addMedicine">Add Medicine</button>
                        </div>
                    </div>                    
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#addMedicine').click(function (event) {
            var form = document.getElementById('addMedicineForm');
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            } else {
                var formData = $('#addMedicineForm').serialize();

                $.ajax({
                    url: '{% url "pharmacist_add_medicine" %}', // Update with your actual URL
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            $('#addMedicineContainers').html('<div class="alert alert-success">' + response.message + '</div>');
                            location.reload(true);
                        } else {
                            $('#addMedicineContainers').html('<div class="alert alert-danger">' + response.message + '</div>');
                        }
                    },
                    error: function () {
                        console.error('AJAX request failed');
                        $('#addMedicineContainers').html('<div class="alert alert-danger">AJAX request failed</div>');
                    }
                });
            }

            form.classList.add('was-validated');
        });
    });
</script>

{% include 'pharmacist_template/datatable.html' %}
{% endblock main_content %}
