{% extends 'receptionist_template/base_template.html' %}
{% block title %}
{{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }} New Lab Order - Request   
{% endblock title %}

{% block page_title %}

    <a class="btn btn-primary breadcrumb-link" type="button"  href="{% url 'receptionist_patient_health_record' patient.id visit.id %}">
    <i class="fas fa-arrow-left"></i> Back to health record
    </a>  
    <a class="btn btn-primary breadcrumb-link" type="button"  href="{% url 'receptionist_patient_visit_history_view' patient.id %}">
    <i class="fas fa-arrow-left"></i>visit history
</a>  

{% endblock page_title %}

{% block breadcrumb %}
{% include "receptionist_template/modal_form.html" %}
New Lab Order - Request
{% endblock breadcrumb %}

{% block main_content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-primary-600">
                    <h5 class="card-title text-center text-uppercase">{{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }} [ AGE: {{ patient.age }} ] - New Lab Order - Request</h5>
                </div>
                <div class="card-body">
                    <div class="row text-uppercase" style="font-size:13px;">
                        <div class="col-md-3">PATIENT: <b>{{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }}</b></div>
                        <div class="col-md-3">DOB: <b>{{ patient.dob|date:'d-m-Y' }} [ Age: {% if patient.dob %}
                            <script>
                                var dob = new Date("{{ patient.dob|date:'Y-m-d' }}");
                                var now = new Date();
                                var ageMilliseconds = now - dob;
                                var ageSeconds = ageMilliseconds / 1000;
                                var ageYears = Math.floor(ageSeconds / (365.25 * 24 * 60 * 60));
                                document.write(ageYears + ' years');
                            </script>
                            {% else %}
                            {{ patient.age }}
                            {% endif %}]</b></div>
                        <div class="col-md-3">SEX: <b>{{ patient.gender }}</b></div>
                        <div class="col-md-3">FILE NO : <b>{{ patient.mrn }}</b> </div>
                    </div>
                        <div class="row mt-3">
                             <div class="col-md-3">PAYMENT MODE: <b> {% if patient.payment_form == "Insurance"  %}
                                        {{ patient.payment_form }}- {{ patient.insurance_name }}   
                                        {% else  %}   
                                        {{ patient.payment_form }}                  
                                    {% endif %}</b>
                                </div>
                            <div class="col-md-3">VISIT NUMBER: <b>{{ visit.vst }}</b></div>                           
                        </div>
                </div>    
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="header-title text-center mt-0 mb-1 text-uppercase"> Add New Lab Order </h4>
                </div>
                <div class="card-body">
                    <form id="addInvestigationForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="table-responsive">
                            <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm display" id="investigationTable{{ visit.id }}">
                                <thead>
                                    <tr>
                                        <th>Investigation Name</th>
                                        <th>Description</th>                                   
                                        <th>Cost</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <select class="form-control select2bs4 investigation-name" style="width: 100%;" name="investigation_name[]" required>
                                                <option value="">Select Investigation</option>
                                                {% for lab in remote_service %}
                                                    <option value="{{ lab.id }}">{{ lab.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input type="text" class="form-control description" name="description[]" placeholder="Enter investigation description"></td>                                       
                                        <td><input type="text" class="form-control cost" name="cost[]" readonly></td>
                                        <td><button type="button" class="btn btn-danger delete-row">Delete</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Total Cost -->
                        <div class="row">
                            <div class="col-md-9">
                             
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-6">Total Cost</div>
                                    <div class="col-md-6">
                                        Sh <span id="totalCost{{ visit.id }}">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="investigationResponse"></div>
                            </div>
                        </div>
                        <input type="hidden" class="form-control" id="visit_id{{ visit.id }}" name="visit_id" value="{{ visit.id }}">
                        <input type="hidden" class="form-control" id="patient_id{{ visit.id }}" name="patient_id" value="{{ patient.id }}">
                        <!-- Save Procedure button -->
                        <div class="form-group mt-3">
                            <button type="button" class="btn btn-info btn-block" id="addRow{{ visit.id }}"><i class="fa fa-plus-square" aria-hidden="true"></i> Add Investigation</button>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Order Date</label>
                                    <input type="date" class="form-control total-cost" name="order_date" id="orderDate">
                                </div>
                                <script>
                                    // Get the current date in the format yyyy-mm-dd
                                    const currentDate = new Date().toISOString().split('T')[0];
                                    
                                    // Set the value of the input field to the current date
                                    document.getElementById('orderDate').value = currentDate;
                                </script>
                            </div>                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="doctor">Lab Technician:</label>
                                    <select class="form-control select2bs4" style="width: 100%;" name="doctor_id" id="doctor" required>
                                        {% for doctor in doctors %}
                                            <option value="{{ doctor.id }}">{{ doctor.admin.first_name }} {{ doctor.middle_name }} {{ doctor.admin.last_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                             </div>                      
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-block" onclick="addImaging()">Place Order & Pay</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        $(document).ready(function() {

            
            // Function to initialize Select2 dynamically
            function initializeSelect2(selector) {
                $(selector).select2({
                    theme: 'bootstrap4',
                    width: '100%',
                });
            }
            // Add row button functionality
            $('#addRow{{ visit.id }}').click(function() {
                var newRow = `
                    <tr>
                        <td>
                            <select class="form-control select2bs4 investigation-name" style="width: 100%;" name="investigation_name[]" required>
                                <option value="">Select Investigation</option>
                                {% for lab in remote_service %}
                                    <option value="{{ lab.id }}">{{ lab.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input type="text" class="form-control description" name="description[]" placeholder="Enter investigation description"></td>                       
                        <td><input type="text" class="form-control cost" name="cost[]" readonly></td>
                        <td><button type="button" class="btn btn-danger delete-row">Delete</button></td>
                    </tr>`;
                $('#investigationTable{{ visit.id }} tbody').append(newRow);
                 initializeSelect2('.select2bs4');
            });
    
            // Delete row button functionality
            $(document).on('click', '.delete-row', function() {
                $(this).closest('tr').remove();
                updateTotalCost{{ visit.id }}();
            });
    
                        // Fetch cost when procedure name is selected
                $(document).on('change', '.investigation-name', function() {
                    var selectedProcedureId = $(this).val();
                    var patientId = $('#patient_id{{ visit.id }}').val(); // Get the patient ID
                    var row = $(this).closest('tr');
                    $.ajax({
                        url: '{% url "receptionist_get_procedure_cost" %}',
                        method: 'POST', // Change method to POST
                        data: {
                            procedure_id: selectedProcedureId,
                            patient_id: patientId // Include patient ID in the POST data
                        },
                        success: function(response) {
                            row.find('.cost').val(response.cost);
                            updateTotalCost{{ visit.id }}();
                        },
                        error: function(xhr, status, error) {
                            console.error(xhr.responseText);
                        }
                    });
                });
            // Function to update total cost
            function updateTotalCost{{ visit.id }}() {
                var totalCost = 0;
                $('#investigationTable{{ visit.id }} tbody tr').each(function() {
                    var cost = parseFloat($(this).find('.cost').val());
                    if (!isNaN(cost)) {
                        totalCost += cost;
                    }
                });
                $('#totalCost{{ visit.id }}').text(totalCost.toFixed(2));
            }
        });
    
        // Handle form submission using AJAX
        function addImaging() {
            $.ajax({
                type: 'POST',
                url: '{% url "receptionist_add_investigation" %}',
                data: $('#addInvestigationForm').serialize(),
                success: function(response) {
                    if (response.status === 'success') {
                        $('#investigationResponse').html('<div class="alert alert-success">' + response.message + '</div>');
                        window.location.href = '{% url "receptionist_all_orders_view" %}';
                    } else {
                        $('#investigationResponse').html('<div class="alert alert-danger">' + response.message + '</div>');
                    }
                },
                error: function(xhr, status, error) {
                    $('#investigationResponse').html('<div class="alert alert-danger">' + xhr.responseText + '</div>');
                }
            });
        }
    </script>
    
</div>


{% include 'receptionist_template/datatable.html' %}
    

{% endblock main_content %}
