{% extends 'receptionist_template/base_template.html' %}

{% block title %}
   All medicine
{% endblock title %}

{% block breadcrumb %}
{% include "receptionist_template/modal_form.html" %}
{% endblock breadcrumb %}


{% load static %}
{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6  class="header-title text-center mt-0 mb-1  text-uppercase"> All medicine </h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm  display" id="example"  style="width:100%">
                            <thead>
                                <tr>
                                    <th>Drug Name</th>
                                    <th>Drug Type</th>
                                    <th>Formulation Unit</th>
                                    <th>Manufacturer</th>
                                    <th>Remaining Quantity</th>
                                    <th>Quantity</th>
                                    <th>Dividable</th>
                                    <th>Batch Number</th>
                                    <th>Expiration Date</th>
                                    <th>Cash Cost</th>
                                    <th>Insurance Cost</th>
                                    <th>NHIF Cost</th>
                                    <th>Buying Price</th>
                                    <th>Total Buying Price</th>
                                    <th>Created At</th>
                                    <th>Updated At</th>                           
                                        
                                </tr>
                            </thead>
                            <tbody>
                                {% for medicine in medicines %}
                                    <tr>
                                        <td>{{ medicine.drug_name }}</td>
                                        <td>{{ medicine.drug_type }}</td>
                                        <td>{{ medicine.formulation_unit }}</td>
                                        <td>{{ medicine.manufacturer }}</td>
                                        <td>{{ medicine.remain_quantity }}</td>
                                        <td>{{ medicine.quantity }}</td>
                                        <td>{{ medicine.dividable }}</td>
                                        <td>{{ medicine.batch_number }}</td>
                                        <td>{{ medicine.expiration_date|date:"d/m/Y" }}</td>
                                        <td>{{ medicine.cash_cost }}</td>
                                        <td>{{ medicine.insurance_cost }}</td>
                                        <td>{{ medicine.nhif_cost }}</td>
                                        <td>{{ medicine.buying_price }}</td>
                                        <td>{{ medicine.total_buying_price }}</td>
                                        <td>{{ medicine.created_at|date:"d-m-Y" }}</td>
                                        <td>{{ medicine.updated_at|date:"d-m-Y" }}</td>
                                       
                                    </tr>                                      
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% include 'receptionist_template/datatable.html' %}
{% endblock main_content %}
