{% extends 'receptionist_template/base_template.html' %}

{% block title %}
Consultation Notes
{% endblock title %}

{% block breadcrumb %}
{% include "receptionist_template/modal_form.html" %}
{% endblock breadcrumb %}


{% load static %}
{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-header">
                        <h6  class="header-title text-center mt-0 mb-1  text-uppercase">  Consultation Notes </h6>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm  display" id="example"  style="width:100%">
                            <thead>
                                <tr>
                                    <th>Visit no.</th>
                                    <th>Patient</th>
                                    <th>Consultated by</th>
                                    <th>Consultation Date</th>
                                    <th>Status</th>                                   
                                </tr>
                            </thead>
                            <tbody>
                                {% for note in consultation_notes %}
                                    <tr>
                                        <td>{{ note.visit.vst }}</td>
                                        <td>{{ note.patient }}</td>
                                        <td>
                                            <b style="color: blue;" class="text-capitalize">
                                                {% if note.doctor.role == "doctor" %}Dr.{% else %}{{ note.doctor.role }}{% endif %}
                                            </b>
                                            <span class="text-muted">{{ note.doctor }}</span>
                                        </td>                                        
                                        <td>{{ note.created_at|date:"d-m-Y" }}</td>
                                        <!-- Status Column with Colors -->
                                        <td>
                                            {% if note.doctor_plan == "Discharge" %}
                                                <span class="text-success font-weight-bold">Discharged</span>
                                            {% elif note.doctor_plan == "Referral" %}
                                                <span class="text-warning font-weight-bold">Referral</span>
                                            {% else %}
                                                <span class="text-info font-weight-bold">In Progress</span>
                                            {% endif %}
                                        </td>                                     
                                    </tr>                                    
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>



{% include 'receptionist_template/datatable.html' %}
{% endblock main_content %}
