{% extends 'pembaadmin_template/base_template.html' %}
{% load static %}

{% block title %}
Pemba Reports
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
{% endblock extra_css %}

{% block main_content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Pemba Reports Dashboard</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="info-box">
                                    <span class="info-box-icon bg-info"><i class="fas fa-users"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Patient Reports</span>
                                        <span class="info-box-number">View patient statistics</span>
                                        <a href="{% url 'pembahmis:reports_patients' %}" class="btn btn-sm btn-info">View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="info-box">
                                    <span class="info-box-icon bg-success"><i class="fas fa-stethoscope"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Visit Reports</span>
                                        <span class="info-box-number">Patient visit summaries</span>
                                        <a href="{% url 'pembahmis:reports_patients_visit_summary' %}" class="btn btn-sm btn-success">View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="info-box">
                                    <span class="info-box-icon bg-warning"><i class="fas fa-pills"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Medicine Reports</span>
                                        <span class="info-box-number">Stock and inventory</span>
                                        <a href="{% url 'pembahmis:reports_stock_level' %}" class="btn btn-sm btn-warning">View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="info-box">
                                    <span class="info-box-icon bg-danger"><i class="fas fa-chart-line"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Comprehensive Reports</span>
                                        <span class="info-box-number">Detailed analytics</span>
                                        <a href="{% url 'pembahmis:reports_comprehensive' %}" class="btn btn-sm btn-danger">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Quick Reports</h3>
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <a href="{% url 'pembahmis:reports_by_visit' %}">
                                                    <i class="fas fa-calendar-check"></i> Reports by Visit
                                                </a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="{% url 'pembahmis:reports_orders' %}">
                                                    <i class="fas fa-shopping-cart"></i> Order Reports
                                                </a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="{% url 'pembahmis:reports_stock_ledger' %}">
                                                    <i class="fas fa-book"></i> Stock Ledger
                                                </a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="{% url 'pembahmis:reports_adjustments' %}">
                                                    <i class="fas fa-adjust"></i> Adjustment Reports
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Medicine Reports</h3>
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <a href="{% url 'pembahmis:expired_medicine_view' %}">
                                                    <i class="fas fa-exclamation-triangle text-danger"></i> Expired Medicines
                                                </a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="{% url 'pembahmis:instock_medicine_view' %}">
                                                    <i class="fas fa-check-circle text-success"></i> In Stock Medicines
                                                </a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="{% url 'pembahmis:checklist_medicine_view' %}">
                                                    <i class="fas fa-list text-info"></i> Checklist Medicines
                                                </a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="{% url 'pembahmis:outofstock_medicine_view' %}">
                                                    <i class="fas fa-times-circle text-warning"></i> Out of Stock Medicines
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main_content %}

{% block extra_js %}
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
{% endblock extra_js %} 