{% extends 'doctor_template/base_template.html' %}
{% block title %}
{{ patient.first_name }} {{ patient.middle_name }}  {{ patient.last_name }} Imaging   
{% endblock title %}

{% block page_title %}
{% if final_provisional_diagnosis %}
    <a class="btn btn-primary" type="button"  href="{% url 'doctor_save_remotesconsultation_notes_next' patient.id visit.id %}" class="breadcrumb-link">
    <i class="fas fa-arrow-left"></i> Back
</a>
{% endif %}
     <a class="btn btn-primary breadcrumb-link" type="button"  href="{% url 'doctor_patient_health_record_view' patient.id visit.id %}">
        <i class="fas fa-arrow-left"></i> Back to health record
    </a>    
{% if radiology_record and consultation_note.doctor_plan|lower == 'radiology' %}
    <a class="btn btn-success breadcrumb-link" type="button" 
    href="{% url 'doctor_save_remotesconsultation_notes' patient.id visit.id %} ">
    <i class="fas fa-arrow-right"></i> Forward
    </a>
{% endif %}
{% endblock page_title %}

{% block breadcrumb %}
{% include "doctor_template/modal_form.html" %}
    <a class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#imagingRecordsModal">
        <i class="fas fa-eye"></i> view Imaging result
    </a>

{% endblock breadcrumb %}
{% block main_content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">                              
                <div class="card-body">
                    <div class="card">
                        <div class="card-header">
                            <label for="chief_complaints">Patient Information</label>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    PATIENT:    <b>{{ patient.first_name }} {{ patient.middle_name }} {{ patient.last_name }}</b>
                                </div>
                                <div class="col-md-3">
                                    DOB:   <b>{{ patient.dob|date:'d-m-Y' }} [ Age: {% if patient.dob %}
                                        <script>
                                            var dob = new Date("{{ patient.dob|date:'Y-m-d' }}");
                                            var now = new Date();
                                            var ageMilliseconds = now - dob;
                                            var ageSeconds = ageMilliseconds / 1000;
                                            var ageYears = Math.floor(ageSeconds / (365.25 * 24 * 60 * 60));
                                            document.write(ageYears + ' years');
                                        </script>
                                        {% else %}
                                        {{ patient.age }}
                                        {% endif %}]</b> 
                                </div>
                                <div class="col-md-3">
                                    SEX:   <b>{{ patient.gender }}</b>
                                </div>
                                <div class="col-md-3">
                                    FILE NO:   <b>{{ patient.mrn }}</b>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-3">
                                    Payment mode:   <b>{{ patient.payment_form }}</b>
                                </div>
                                <div class="col-md-3">
                                    Visit Number:     <b>{{ visit.vst }}</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if consultation_notes %}
         <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-primary-600">
                    <h6 class="card-title text-center text-uppercase">Diagnosis</h6>
                </div>
                <div class="card-body">
                    {% for note in consultation_notes %}
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm  display"  style="width:100%">
                            <tbody>
                                <tr>
                                    <th>Preliminary Diagnosis</th>
                                    <th>Final Diagnosis</th>
                                </tr>
                                <tr>
                                    <td>
                                        <ul class="list-group">
                                            {% for diagnosis in note.provisional_diagnosis.all %}
                                            <li class="list-group-item">{{ diagnosis}}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>
                                        <ul class="list-group">
                                            {% for diagnosis in note.final_diagnosis.all %}
                                            <li class="list-group-item">{{ diagnosis}}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>        
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
   
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="header-title text-center mt-0 mb-1 text-uppercase"> Add Imaging </h4>
                </div>
                <div class="card-body">
                    <form id="addImagingForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="table-responsive">
                            <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm display" id="imagingTable{{ visit.id }}">
                                <thead>
                                    <tr>
                                        <th>Imaging Name</th>
                                        <th>Description</th>                                   
                                        <th>Cost</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <select class="form-control select2bs4 imaging-name" style="width: 100%;" name="imaging_name[]" required>
                                                <option value="">Select Imaging</option>
                                                {% for imaging in remote_service %}
                                                    <option value="{{ imaging.id }}">{{ imaging.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input type="text" class="form-control description" name="description[]" placeholder="Enter imaging description"></td>                                       
                                        <td><input type="text" class="form-control cost" name="cost[]" readonly></td>
                                        <td><button type="button" class="btn btn-danger delete-row">Delete</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Total Cost -->
                        <div class="row">
                            <div class="col-md-9">
                             
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-6">Total Cost</div>
                                    <div class="col-md-6">
                                        Sh <span id="totalCost{{ visit.id }}">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="imagingResponse"></div>
                            </div>
                        </div>
                        <input type="hidden" class="form-control" id="visit_id{{ visit.id }}" name="visit_id" value="{{ visit.id }}">
                        <input type="hidden" class="form-control" id="patient_id{{ visit.id }}" name="patient_id" value="{{ patient.id }}">
                        <!-- Save Procedure button -->
                        <div class="form-group mt-3">
                            <button type="button" class="btn btn-info btn-block" id="addRow{{ visit.id }}"><i class="fa fa-plus-square" aria-hidden="true"></i> Add Imaging</button>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Order Date</label>
                                    <input type="date" class="form-control total-cost" name="order_date" id="orderDate">
                                </div>
                                <script>
                                    // Get the current date in the format yyyy-mm-dd
                                    const currentDate = new Date().toISOString().split('T')[0];
                                    
                                    // Set the value of the input field to the current date
                                    document.getElementById('orderDate').value = currentDate;
                                </script>
                            </div>                            
                           </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-block" onclick="addImaging()">Save Imaging</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        $(document).ready(function() {

            // Function to initialize Select2 dynamically
            function initializeSelect2(selector) {
                $(selector).select2({
                    theme: 'bootstrap4',
                    width: '100%',
                });
            }
            // Add row button functionality            
            $('#addRow{{ visit.id }}').click(function() {
                var newRow = `
                    <tr>
                        <td>
                            <select class="form-control select2bs4 imaging-name" style="width: 100%;" name="imaging_name[]" required>
                                <option value="">Select Procedure</option>
                                {% for imaging in remote_service %}
                                    <option value="{{ imaging.id }}">{{ imaging.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input type="text" class="form-control description" name="description[]" placeholder="Enter imaging description"></td>                       
                        <td><input type="text" class="form-control cost" name="cost[]" readonly></td>
                        <td><button type="button" class="btn btn-danger delete-row">Delete</button></td>
                    </tr>`;
                $('#imagingTable{{ visit.id }} tbody').append(newRow);
                   initializeSelect2('.select2bs4');
            });
    
            // Delete row button functionality
            $(document).on('click', '.delete-row', function() {
                $(this).closest('tr').remove();
                updateTotalCost{{ visit.id }}();
            });
    
                        // Fetch cost when procedure name is selected
                $(document).on('change', '.imaging-name', function() {
                    var selectedProcedureId = $(this).val();
                    var patientId = $('#patient_id{{ visit.id }}').val(); // Get the patient ID
                    var row = $(this).closest('tr');
                    $.ajax({
                        url: '{% url "doctor_get_procedure_cost" %}',
                        method: 'POST',
                        data: {
                            procedure_id: selectedProcedureId,
                            patient_id: patientId // Include patient ID in the POST data
                        },
                        success: function(response) {
                            row.find('.cost').val(response.cost);
                            updateTotalCost{{ visit.id }}();
                        },
                        error: function(xhr, status, error) {
                            console.error(xhr.responseText);
                        }
                    });
                });
            // Function to update total cost
            function updateTotalCost{{ visit.id }}() {
                var totalCost = 0;
                $('#imagingTable{{ visit.id }} tbody tr').each(function() {
                    var cost = parseFloat($(this).find('.cost').val());
                    if (!isNaN(cost)) {
                        totalCost += cost;
                    }
                });
                $('#totalCost{{ visit.id }}').text(totalCost.toFixed(2));
            }
        });
    
        // Handle form submission using AJAX
        function addImaging() {
            $.ajax({
                type: 'POST',
                url: '{% url "doctor_add_imaging" %}',
                data: $('#addImagingForm').serialize(),
                success: function(response) {
                    if (response.status === 'success') {
                        $('#imagingResponse').html('<div class="alert alert-success">' + response.message + '</div>');
                        var redirectUrl = '{% url "doctor_new_radiology_order" %}';
                        window.location.href = redirectUrl;
                    } else {
                        $('#imagingResponse').html('<div class="alert alert-danger">' + response.message + '</div>');
                    }
                },
                error: function(xhr, status, error) {
                    $('#imagingResponse').html('<div class="alert alert-danger">' + xhr.responseText + '</div>');
                }
            });
        }
    </script>
    
</div>

<!-- display_imaging_records.html -->
<div class="modal fade" id="imagingRecordsModal" tabindex="-1" aria-labelledby="imagingRecordsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-center text-uppercase" id="prescriptionModalLabel">Imaging Total cost: <span style="background-color: red;">{{ total_imaging_cost }}</span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
          <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table  class="table table-hover text-nowrap table-bordered table-striped" id="example4">
                        <thead>
                          <tr>
                            <th>Image Name</th>
                            <th>Description</th>                           
                            <th>Cost</th>
                            <th>Date</th> <!-- New column -->
                            <!-- Add more columns as needed -->
                          </tr>
                        </thead>
                        <tbody>
                          {% for record in imaging_records %}
                          <tr>
                            <td>{{ record.imaging.name }}</td>
                            <td>{{ record.description }}</td>                            
                            <td>{{ record.cost }}</td>
                            <td>{{ record.created_at|date:"F d, Y" }}</td> <!-- Display date -->
                            <!-- Add more columns as needed -->
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<style>
    /* styles.css */

/* Add custom styles for the container */
.container {
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

/* Add styles for the card */
.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Add styles for the table */
.table {
    width: 100%;
}

/* Add styles for table headers */
.table th {
    background-color: #007bff;
    color: #fff;
}

/* Add styles for table rows */
.table tbody tr {
    background-color: #f9f9f9;
}

/* Add styles for buttons */
.btn {
    border-radius: 5px;
    margin-right: 5px;
}

/* Add more styles as needed */

</style>



{% include 'doctor_template/datatable.html' %}
    

{% endblock main_content %}