{% extends 'doctor_template/base_template.html' %}
{% block title %}
all Procedure    
{% endblock title %}
{% block breadcrumb %}
{% include "doctor_template/modal_form.html" %}

{% endblock breadcrumb %}
{% block main_content %}
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="header-title text-center mt-0 mb-1 text-uppercase">All Procedures</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
                            <thead>
                                <tr>                
                                    <th>Patient MRN</th>
                                    <th>Visit Number</th>
                                    <th>Procedure done by</th>
                                    <th>Date</th>                             
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <!-- Update the patient name field in your table -->
                                <tbody>
                                    {% for record in patient_procedures %}
                                        <tr>
                                            <td>{{ record.patient__mrn }}</td>
                                            <td>{{ record.visit__vst }}</td>
                                            <td><b style="color: blue;" class="text-capitalize">Dr.</b> 
                                                <span  class="text-muted">
                                                  {{ record.doctor__admin__first_name }} 
                                                  {{ record.doctor__middle_name }} 
                                                  {{ record.doctor__admin__first_name }}
                                              </span>
                                          </td>
                                            <td>{{ record.latest_date|date:"d-m-Y" }}</td>                               
                                            <td>                                         
                                                                                                <!-- Add more action links as needed -->
                                                <a href="{% url 'doctor_patient_procedure_history_view_mrn' record.patient__mrn %}" data-toggle="tooltip" title="View Procedure History">
                                                    <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-eye text-dark"></i>Procedure History</button>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>                  
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
{% include 'doctor_template/datatable.html' %}    

{% endblock main_content %}
