{% extends 'doctor_template/base_template.html' %}
{% block title %}
Counseling Sessions
{% endblock title %}
{% block breadcrumb %}
{% include "doctor_template/modal_form.html" %}
{% endblock breadcrumb %}
{% block main_content %}
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="header-title text-center mt-0 mb-1 text-uppercase">Counseling Sessions</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
                            <thead>
                                <tr>                                
                                    <th>Patient</th>
                                    <th>Visit number</th>
                                    <th>Visit type</th>
                                    <th>Counselor</th>
                                    <th>Date</th>
                                    <th>Day</th>
                                    <th>Time</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for counseling in counselings %}
                                <tr>                                 
                                    <td>{{ counseling.patient }}</td>
                                    <td>{{ counseling.visit.vst }}</td>
                                    <td>{{ counseling.visit.visit_type }}</td>
                                    <td><span style="color:black;">{{ counseling.data_recorder.role }}</span>-{{ counseling.data_recorder }}</td>
                                    <td>{{ counseling.created_at|date:"d-m-Y"  }}</td>
                                    <td>{{ counseling.created_at|date:"l" }}</td>
                                    <td>{{ counseling.created_at|date:"H:i" }}</td>
                                    <td>  <a href="{% url 'doctor_save_remote_counseling' counseling.patient.id counseling.visit.id  %}" class="btn btn-info">Edit</a>
                                    </a></td>
                                </tr>
                                {% endfor %}
                            </tbody>              
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
{% include 'doctor_template/datatable.html' %}   

{% endblock main_content %}
